[2018-02-26 20:50] jooskim opened #375 "UI E2E tests are broken because of too fast page transition"
A recent fix (#341) merged onto master includes some improvements to Protractor tests, which I confirmed working fine when run locally. However, the nightly report from 2/25 indicated that there were several failures in navigation steps, which were caused by the removal of browser wait calls in an attempt to save a fraction of the overall test running time. However, this turned out to damage test

[2018-02-26 21:32] #375 closed

[2018-02-27 08:48] stuclem commented on #365
RN approved by @jooskim via Slack.

[2018-02-27 18:57] jak-atx opened #377 "6.7 plugin certification"
**Details:**
VIC UI plugin needs to be tested and certified against vsphere 6.7

**Acceptance Criteria:**
VIC plugin is certified against webclient_cert_vsphere_internal.pdf and verified by vsphere team
[webclient_cert_vsphere_internal.pdf](https://github.com/vmware/vic-ui/files/1786561/webclient_cert_vsphere_internal.pdf)

[2018-02-27 21:52] #356 closed

[2018-02-27 22:54] #336 closed

[2018-02-28 16:48] AngieCris commented on #323
needs a priority @jak-atx @jooskim
since we want it before reconfigure upgrade/rollback, we might probably want to mark it at least p2?

[2018-02-28 16:53] jooskim opened #380 "Insecure registry entry without port specified is ignored"
**VIC-UI version:**
v1.3.1

**Additional details:**
Adding an insecure registry entry in the VCH Create Wizard without specifying a port number would result in the entry not picked up by the vic-machine API.

**Steps to reproduce:**
1. In the Create VCH Wizard, continue to the Registry section and add a new insecure registry entry missing a port
2. In the Summary section look for the insecure regi

[2018-03-06 19:40] #228 closed

[2018-03-07 17:31] jooskim commented on #359
Closing as no repro, as Dani failed to reproduce the issue, and it seems that a certain condition in older versions of Windows prevents certain PowerShell code in a batch file from working properly, which led to the empty thumbprint to be validated. A workaround was documented in a [KB article](https://kb.vmware.com/kb/52726).

[2018-03-07 17:31] #359 closed

[2018-03-08 21:39] jak-atx commented on #263
@hickeng can you weigh in here and let us know if you feel like this is a valid concern/issue? It's not clear to me if this would cause any issue.

[2018-03-08 21:44] andrewtchin commented on #323
need to decide if we should fallback to current way if API is not reachable

[2018-03-08 21:49] zjs commented on #323
Not strictly a pre-req. but if we fix this, we should definitely fix vmware/vic#6792 in the same release.

[2018-03-08 21:59] jak-atx commented on #329
Closing as non reproducible.

[2018-03-08 21:59] #329 closed

[2018-03-12 15:34] stuclem commented on #178
@jooskim and @zjs I have discussed this again with my manager and the doc tools manager and it seems that these famous "info-redirects" are not the best thing to use in our case. The doc tools manager is however working on an automated mechanism for publishing Markdown-sourced docs to https://docs.vmware.com/, which will allow us to publish our final output there instead of on https://vmware.githu

[2018-03-12 15:45] stuclem opened #385 "Update doc links in Client to point to 1.4 docs"
The hard-coded doc URLs in the client point need to be updated to replace `1.3` with `1.4`, i.e. update https://vmware.github.io/vic-product/assets/files/html/1.3/index.html to point to https://vmware.github.io/vic-product/assets/files/html/1.4/index.html.

I have not yet created placeholder docs at https://vmware.github.io/vic-product/assets/files/html/1.4/index.html. @jooskim when do you need to

[2018-03-12 17:03] jooskim commented on #178
@stuclem Sounds good to me. Thanks Stuart for the updates

[2018-03-13 20:45] jak-atx opened #386 "Manifest needs updating to have flex plugin work on VC 6.7"
During testing of our plugin against VC 6.7 https://github.com/vmware/vic-ui/issues/377 it was determined that the plugin cannot be installed successfully without updates to our MANIFEST.MF file.

[2018-03-13 22:07] #386 closed

[2018-03-14 15:30] jak-atx opened #388 "VCH reconfigure UI - General & Compute Resource"
**User Statement:**
As a VIC User, I would like to configure an already created VCH. Particularly steps "General" and "Compute Resource"

The mockups are continuously updated at this moment but can be accessed here.

**Acceptance Criteria:**

User should be able to access the view info and the edit modal of a VCH by clicking on the left side navigation of the configure view tab of a VCH. Particula

[2018-03-14 15:48] jak-atx commented on #337
Next we need to bring these back online with the latest OVA from vic-product and re-initiate the nightly emails.

[2018-03-15 15:22] jooskim opened #389 "Port groups under a network folder don't show up in the wizard"
**do not merge until after 1.4 release is tagged**

**VIC-UI version:**
1.3

**Additional details:**
Customers reported that in the Create VCH wizard they don't see port groups for switches they have in the VC inventory. Port groups that did not show up were under a network folder.

![image](https://user-images.githubusercontent.com/3834071/37472684-adc0f0f4-283a-11e8-8d17-4c025f2a5f9d.png)

**Ste

[2018-03-15 15:33] jooskim commented on #389
Initial findings:
1. All of our use cases so far have been under an assumption that DV switches are always on the root level, but once you nest them under a network folder, they do not get picked up by the UI
2. According to `getDistributedPortGroups()` in `create-vch-wizard.service.ts` we perform the following operations to get the list of port groups of the given DC object:
  - get networking tr

[2018-03-16 14:19] mlh78750 commented on #389
Another customer experienced this issue as reported on internal slack.

[2018-03-16 15:25] #337 closed

[2018-03-16 15:34] javierfz1980 opened #391 "VCH Configure UI - Configure Menu"
**User Statement:**

As a VIC User, I would like to configure an already created VCH. When I access to the configure tab of a VCH I would like to have a navigation collapsable menu on the left side that allows me to access each configure spec individually.

Menu mockup could be seen here: https://vmware.invisionapp.com/share/N9C85VJ8M#/screens/260115621

**Acceptance Criteria:**

By going through

[2018-03-16 15:45] javierfz1980 opened #392 "VCH reconfigure UI - Storage"
**User Statement:**
As a VIC User, I would like to configure an already created VCH. Particularly step "Storage"

The mockups are continuously updated at this moment but can be accessed here.

**Acceptance Criteria:**

User should be able to access the view info and the edit modal of a VCH by clicking on the left side navigation of the configure view tab of a VCH. Particularly step "Storage"

**De

[2018-03-16 15:46] javierfz1980 opened #393 "VCH reconfigure UI - Network"
**User Statement:**
As a VIC User, I would like to configure an already created VCH. Particularly step "Network"

The mockups are continuously updated at this moment but can be accessed here.

**Acceptance Criteria:**

User should be able to access the view info and the edit modal of a VCH by clicking on the left side navigation of the configure view tab of a VCH. Particularly step "Network"

**De

[2018-03-16 15:47] javierfz1980 opened #394 "VCH reconfigure UI - Security"
**User Statement:**
As a VIC User, I would like to configure an already created VCH. Particularly step "Security"

The mockups are continuously updated at this moment but can be accessed here.

**Acceptance Criteria:**

User should be able to access the view info and the edit modal of a VCH by clicking on the left side navigation of the configure view tab of a VCH. Particularly step "Security"

**

[2018-03-16 15:48] javierfz1980 opened #395 "VCH reconfigure UI - Registry"
**User Statement:**
As a VIC User, I would like to configure an already created VCH. Particularly step "Registry"

The mockups are continuously updated at this moment but can be accessed here.

**Acceptance Criteria:**

User should be able to access the view info and the edit modal of a VCH by clicking on the left side navigation of the configure view tab of a VCH. Particularly step "Registry"

**

[2018-03-16 15:50] javierfz1980 opened #396 "VCH reconfigure UI - Operations User"
**User Statement:**
As a VIC User, I would like to configure an already created VCH. Particularly step "Operations User"

The mockups are continuously updated at this moment but can be accessed here.

**Acceptance Criteria:**

User should be able to access the view info and the edit modal of a VCH by clicking on the left side navigation of the configure view tab of a VCH. Particularly step "Operat

[2018-03-19 15:12] lweitzman commented on #149
Can this validation happen sooner, ie, on the Storage Capacity page. Either when loosing focus on the folder name input or when leaving the step in the wizard?

[2018-03-20 11:03] lgayatri opened #398 "6.7 H5C UI fails with "Could not find any VIC appliance VM""
#For stories, please include the information below:

**User Statement:**

6.7 H5C plugin fails to find VIC appliance VM

**Details:**
1. OVA registration was successful
2. Admiral failed to load with https://github.com/vmware/admiral/issues/259
3. VIC UI plugin installation succeeded
4.  But H5C UI fails to show

**VIC-UI version:**
[In the VIC plugin] > Summary tab > Version
v1.3.1-rc2.815

**Pla

[2018-03-20 15:33] lgayatri commented on #398
[vic_appliance_logs_2018-03-20-10-20-17.tar.gz](https://github.com/vmware/vic-ui/files/1830022/vic_appliance_logs_2018-03-20-10-20-17.tar.gz)

[2018-03-20 15:33] mdubya66 commented on #398
@andrewtchin - i've asked @lgayatri to gather the logs as it seems the appliance might not have started correctly.

[2018-03-20 16:57] mdharamadas1 opened #399 "Complete nightly test for multiple datacenter"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-20 17:38] andrewtchin commented on #398
In the fileserver log I don't see an initialization that doesn't have these errors:

[code]

[2018-03-20 18:42] zjs opened #401 "Update VCH Management UI to support VM-Host Affinity"
As a part the VCH Creation Wizard, users should be able to select a DRS VM Group to be supplied to the API.

[2018-03-20 18:43] mdharamadas1 opened #402 "Complete nightly test for distributed switch"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-20 19:03] mdharamadas1 opened #404 "Complete nightly test for multiple clusters"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-21 14:47] mdharamadas1 opened #406 "Complete nightly test for multiple VLAN"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-21 15:15] mdharamadas1 opened #408 "Complete nightly test for NFS datastore"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-21 15:45] mdharamadas1 opened #410 "Complete nightly test for cluster"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-21 18:26] mdharamadas1 opened #412 "Complete nightly test for enhanced link mode"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-21 18:54] mdharamadas1 opened #414 "Complete nightly test for simple VSAN"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-22 18:37] mdharamadas1 opened #417 "Complete nightly test for DRS"
Need to add OVA / plugin install and wizard UI test steps.

[2018-03-22 19:44] mdharamadas1 opened #419 "Complete nightly tests for vMotion"
Need to add OVA / plugin install and wizard UI test steps.

https://github.com/vmware/vic/tree/master/tests/manual-test-cases/Group13-vMotion

[2018-03-22 20:28] #374 closed

[2018-03-22 20:33] jak-atx opened #421 "Nightly test failures"
We have been seeing failures consistently in nightly tests since our nimbus move and updates to the pieces of the UI. We need to investigate and fix the nightly tests prior to 1.4 release.

[2018-03-22 20:42] andrewtchin commented on #389
Add a test as part of this story

[2018-03-23 23:24] mdubya66 commented on #398
@lgayatri can this be closed as clock skew?

[2018-03-23 23:40] lgayatri commented on #398
closing

[2018-03-23 23:40] #398 closed

[2018-03-27 17:01] jak-atx commented on #401
Need UX for this.

[2018-03-27 20:37] andrewtchin commented on #185
@m451 Thanks for your report - I opened https://github.com/vmware/vic-product/issues/1517 for updating the diagram

[2018-03-28 15:41] andrewtchin commented on #410
this may exist already, verify and close

[2018-03-28 15:53] jak-atx commented on #377
Required steps completed

[2018-03-28 15:53] #377 closed

[2018-03-28 15:58] lmalvins commented on #421
Executed 27 of 27 specs SUCCESS in 1 min 39 secs.
[09:53:11] I/launcher - 0 instance(s) of WebDriver still running
[09:53:11] I/launcher - chrome #01 passed
[ Windows 10 - Chrome ] Create And Delete VCH On A Single Cluster ... | PASS |

[2018-03-28 15:59] lmalvins commented on #421
Executed 27 of 27 specs SUCCESS in 1 min 42 secs.
[09:55:30] I/launcher - 0 instance(s) of WebDriver still running
[09:55:30] I/launcher - firefox #01 passed
[ Windows 10 - Firefox ] Create And Delete VCH On A Single Cluster... | PASS |

[2018-03-28 16:00] lmalvins commented on #421
Executed 27 of 27 specs SUCCESS in 1 min 29 secs.
[10:00:21] I/launcher - 0 instance(s) of WebDriver still running
[10:00:21] I/launcher - chrome #01 passed
[ MacOS - Chrome ] Create And Delete VCH On A Single Cluster Envir... | PASS |

[2018-03-28 16:01] lmalvins commented on #421
Executed 27 of 27 specs SUCCESS in 1 min 52 secs.
[10:02:44] I/launcher - 0 instance(s) of WebDriver still running
[10:02:44] I/launcher - firefox #01 passed
[ MacOS - Firefox ] Create And Delete VCH On A Single Cluster Envi... | PASS |

[2018-03-28 16:19] lmalvins commented on #421
Executed 27 of 27 specs SUCCESS in 1 min 32 secs.
[10:04:51] I/launcher - 0 instance(s) of WebDriver still running
[10:04:51] I/launcher - chrome #01 passed
[ Windows 10 - Chrome ] Create And Delete VCH On A Multi-DC Enviro... | PASS |

[2018-03-28 16:20] lmalvins commented on #421
Executed 27 of 27 specs SUCCESS in 1 min 43 secs.
[10:07:11] I/launcher - 0 instance(s) of WebDriver still running
[10:07:11] I/launcher - firefox #01 passed
[ Windows 10 - Firefox ] Create And Delete VCH On A Multi-DC Envir... | PASS |

[2018-03-28 16:29] jak-atx commented on #401
cc @lweitzman

[2018-03-28 16:36] jak-atx commented on #410
Verified that we are currently testing against a single cluster environment

[2018-03-28 16:36] #410 closed

[2018-03-28 16:45] jak-atx commented on #399
It looks like we already have mult-dc test as well but we may need to seperate it out as the pattern of our new tests @lmalvins

[2018-03-28 19:21] javierfz1980 commented on #421
** 1-01-Basic-VCH-Create **
- Win and Mac (Chrome / FF) tests has been fixed with #422
- Win IE11 is still broken. The problem is on file 1-basic.e2e-spec.ts -> 'should redirect to VCH VM and display Create Wizard menu items' (line 198). The problem seems to be with the link to the recently created VCH. The link is found, but protractor can not click it on IE11, several workarounds has been teted

[2018-04-04 08:55] stuclem commented on #385
Once https://github.com/vmware/vic-product/pull/1546 is merged, the 1.4 placeholder docs will be live at https://vmware.github.io/vic-product/assets/files/html/1.4/

[2018-04-04 13:24] stuclem commented on #385
@jooskim in 1.4, can you also please change the READ MORE link on the summary page from https://vmware.github.io/vic-product/assets/files/html/1.3/vic_overview/introduction.html to https://vmware.github.io/vic-product/assets/files/html/1.4/? Thanks!

[2018-04-05 14:43] mdharamadas1 opened #423 "Networks don't populate if no cluster is created"
In the Configure Networks page of the Create VCH wizard, if vCenter Server setup does not include cluster for its hosts (only standalone hosts) and having distributed port groups, the network drop-downs does not populate and you cannot continue with the deployment of the VCH.

[2018-04-05 17:32] mdharamadas1 commented on #423
@AngieCris
[code]

[2018-04-05 17:35] mdharamadas1 commented on #423
Updated the issue with what I found after some investigation on the testbed.

[2018-04-05 17:51] mdharamadas1 commented on #423
VC setup:

![screen shot 2018-04-05 at 12 45 18 pm](https://user-images.githubusercontent.com/30418983/38382511-ca9aa4b8-38cf-11e8-8739-894f3c7871ea.png)

[2018-04-05 18:42] jak-atx commented on #423
@mdharamadas1 it works if a cluster is created for the hosts in this set up?

[2018-04-05 18:55] jak-atx commented on #423
@AngieCris I'm not sure, can we confirm this is a restriction? is this documented anywhere?

[2018-04-05 18:59] AngieCris commented on #423
From the [doc](https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/vch_placement.html#-compute-resource-):

And I think we disabled deploying to standalone ESX host on UI: https://github.com/vmware/vic-ui/issues/256

@mdharamadas1 did you select on a cluster in the wizard to deploy VCH? From the screenshot you provided there's no cluster

[2018-04-05 19:17] mdharamadas1 commented on #423
@jak-atx I haven't tried on the same setup but I have another testbed having all hosts in a cluster with NFS datastore and was able to create VCH there.

@AngieCris Yes, I had to select a host on UI to proceed. But these are standalone hosts without a cluster. Please see screenshot below.

![screen shot 2018-04-05 at 2 12 04 pm](https://user-images.githubusercontent.com/30418983/38386781-6ffeee7c-

[2018-04-05 19:25] mdharamadas1 commented on #423
@AngieCris Yes, I tried both scenarios on UI as follows:
VC with cluster for hosts: Cannot select individual hosts as Compute resource
VC without cluster and with standalone hosts: Have to select individual host as Compute resource

[2018-04-05 19:27] AngieCris commented on #423
@mdharamadas1 In which case did you see the failure?

[2018-04-05 19:48] mdharamadas1 commented on #423
@AngieCris This issue is for 2nd case, `VC without cluster and with standalone hosts`

[2018-04-05 20:41] andrewtchin commented on #423
@mdubya66 is p2 good for this one?
workaround is to put single host in a cluster

[2018-04-06 13:34] lweitzman commented on #401
Added vm-host affinity to the mockups (thanks @zjs ). https://vmware.invisionapp.com/share/THCZQ0HN2#/239666099_Create_VCH_Wizard_-_2_Compute_-_Advanced

[2018-04-09 14:47] #399 closed

[2018-04-09 14:47] #404 closed

[2018-04-09 14:48] #406 closed

[2018-04-09 21:47] jak-atx opened #425 "H5C plugin thumbprint validation failures"
Seems we still seeing few cases instances of H5 plugin thumbprint issues. Some of which we have solved through code and kb articles but it seems some are persisting. We need to investigate these to determine root cause

This bug contains a couple of cases of this behavior, though underlying causes seem to differ. This should probably be broken into separate cases.

https://bugzilla.eng.vmware.com/

[2018-04-09 22:07] arslanabbasi opened #426 "Ability to configure IP address for VIC Appliance in HTML5 plugin"
#For stories, please include the information below:

**User Statement:**

VIC appliance might be sitting behind LB/NAT so it won't be directly reachable from vCenter using appliance IP. In these scenarios, there is a need to change vic appliance IP in HTML5 client.

**Details:**

vCenter IP: 10.40.206.195
VIC Appliance IP: 192.168.10.101 - NSX Network sitting behind NSX Edge
NSX Edge DNAT IP for V

[2018-04-11 13:58] #412 closed

[2018-04-11 14:37] #421 closed

[2018-04-11 15:43] jak-atx opened #427 "Reduce nightly UI tests to single VC testbed"
Now that we are testing the multi-topology VC testbeds in vic-product we can reduce our test scope to a single VC configuration and test against all of the relevant OS and browser combinations.

[2018-04-11 22:17] javierfz1980 opened #428 "Clusters and hosts are duplicated on DCs in VCH creation wizard"
**VIC-UI version:**
1.3

**Additional details:**
In the VCH creation wizard on step "compute resource" Clusters and hosts are duplicated (see screenshot 'vch-compute-resource'). This was tested on an environment with two datacenters and with one of the datacenter empty (see screenshot 'inventory')

**Steps to reproduce:**
1- create two datacenters on the vc
2- in one datacenter create at least a c

[2018-04-12 10:32] lgayatri opened #429 "6.7 VCSA's H5C shows "Could not find any VIC appliance VM" despite successful registration"
#For stories, please include the information below:

**User Statement:**

6.7 VCSA's H5C shows "Could not find any VIC appliance VM" despite successful registration

**Details:**
![image](https://user-images.githubusercontent.com/25006749/38671026-f3aef8a2-3e67-11e8-9758-18fe29ff1b2b.png)

![image](https://user-images.githubusercontent.com/25006749/38671051-01096f28-3e68-11e8-9513-8ad82078596c.png

[2018-04-12 10:32] lgayatri commented on #429
@mdubya66 @mhagen-vmware

[2018-04-12 17:02] arslanabbasi opened #430 "insecure registry is not getting configured when VCH is created"
**VIC-UI version:**
VIC-1.3.1

If applicable:

[In the VIC plugin] > Summary tab > Version

**Platform details:**
MAC

**Browser details:**
Chrome

**Additional details:**
"Insecure registry access" option in "Registry Access" tab is not getting added to the VCH. This can be confirmed from the vic-machine command line displayed in the end!

**Steps to reproduce:**
Create a VCH and configure insecu

[2018-04-13 11:41] javierfz1980 commented on #429
I’ve created a fresh environment:
https://10.161.177.181

I’ve deployed:
vc 6.7 - Version 6.7.0.1150 Build 8033102
ova - vic-dev-v1.4.0-dev-4398-3c5cd51a.ova
vic-ui - v1.3.1-rc2.1085

There are no signs of the error... I'll keep looking.

In the mean time, I’ve seen this error a couple of times before on different environments, and it was always related with some mistake during vic installation… c

[2018-04-13 15:43] mdubya66 commented on #429
Javier, Her environment is our official scale testbed. Please work directly with @lgayatri to diagnose what she is seeing.

[2018-04-13 18:29] lmalvins opened #431 "Increasing the poll time to avoid timeouts with network intermittency on conditional waits"
Sometimes with network intermittency or delay, some elements aren't found when the poll time is over because the poll start over and over agin til the global time is over without find the element. Increasing the poll time, but don't the global time,  the poll would have more chance to find the element.

#For stories, please include the information below:

**User Statement:**

A brief statement des

[2018-04-13 21:55] javierfz1980 commented on #429
Issue seems to be fixed after vic ova and ui redeploy/reinstall.

[https://w2hs2-testvm08.eng.vmware.com](url)
vic-ui - v1.3.1-rc2.1085
ova - vic-dev-v1.4.0-dev-4398-3c5cd51a

Please take a look and confirm,

Thanks.

<img width="1421" alt="containers" src="https://user-images.githubusercontent.com/36636787/38759384-0d91f56e-3f4c-11e8-97f4-f997741386fb.png">
<img width="1421" alt="summary" src="ht

[2018-04-16 12:46] javierfz1980 commented on #429
Error could be the network selected during OVA deployment wizard. It was selected VM-network, but it should be VM-traffic since theres no dhcp on VM Network. VM has to be connected to VM-Traffic.

[2018-04-16 12:49] lgayatri commented on #429
Since we are providing static IP address, is it necessary for the DHCP to be running on the first network?

[2018-04-16 13:00] javierfz1980 commented on #429
AFAIK if you want to provide static IP you don't need DHCP... not sure how that will impact during the ova deployment/installation.

@andrewtchin could you please help us with @lgayatri question ?

[2018-04-16 15:46] andrewtchin commented on #429
When was the static IP address provided? When I looked at this environment last week the appliance did not have a good IP address. The network that the appliance is connected to must have a route to the vCenter server and when I looked at this it did not have one. If the vCenter server can't reach the IP of the appliance, it doesn't matter if it's a static or dynamic IP.

[2018-04-17 13:27] #427 closed

[2018-04-17 14:12] javierfz1980 opened #435 "Add nightly test for DVS under a network folder"
**User Statement:**
Customers reported that in the Create VCH wizard they don't see port groups for switches they have in the VC inventory. Port groups that did not show up were under a network folder.
This will be fixed by https://github.com/vmware/vic-ui/issues/389

Steps to reproduce:

Create a network folder in VC and create at least one distributed virtual switch, and add at least a host to i

[2018-04-17 14:29] jak-atx commented on #435
I think this may need to be taken up by the product qa team since they are now handling the different vc configurations and I think this would fall under this umbrella. @mdharamadas1 can you please confirm and/or advise how we should handle this one?

[2018-04-17 15:15] mdharamadas1 commented on #435
Looks like this will fit in the nightly test suite we have in `vic-product`, so I added it to that epic. Can we add more details around what kind of VC setup this needs?

[2018-04-17 17:16] hickeng commented on #263
@jak-atx

The tls-cname **should not** be set to the "name" of the VCH. It should be left blank or set to one of the values the doc specifies. Setting this field causes it to _override_ the default values that would have been entered into the certificate for IP/FQDN derived from the IP and a reverse name lookup.

We use the tls-cname option as both the CN field AND as the subjectAltName DNS record

[2018-04-17 17:39] javierfz1980 commented on #423
I've been trying to reproduce the issue with no success...

I have two different environments with only hosts (no clusters) and I'm able to see the portgroups during vch creation wizard if the host is added to the VDS.

environment 1:
https://10.162.26.118
appliance=vic-v1.3.1-3409-132fb13d.ova
engine=vic_v1.3.1.tar.gz

environment 2 (this one has the ova and ui versions reported on the descriptio

[2018-04-17 21:00] jak-atx commented on #429
@lgayatri can you update if you are still having any issue with this?

[2018-04-17 21:02] jak-atx commented on #431
This has been merged

[2018-04-17 21:02] #431 closed

[2018-04-18 08:17] stuclem commented on #124
Coming back to this one following a related conversation with @dbarkelew. I have opened https://github.com/vmware/vic-product/issues/1613 to discourage use of VM Network for public, and encourage the use of a DPG. @hickeng if you are happy with that, then we can probably close this one.

[2018-04-18 20:09] #417 closed

[2018-04-18 20:29] javierfz1980 commented on #423
Finally I've been able to reproduce the issue on https://10.162.37.131 (vic-ui plugin has been disable since I'm connected  to the environment with my local virgo)

The issue is not related at all with the presence or not of a cluster on the environment. In this environment I have created a Cluster and it fails anyway for host named '10.161.75.158 (reboot required)'

The issue is caused because fo

[2018-04-19 17:40] AngieCris opened #439 "VCH create wizard: DNS server setting is not in request header"
vCenter Server version: 6.5.0.14000
OVA version: vic-v1.3.1-3409-132fb13d

**Summary**

On step 4 of VCH create wizard, there's an option to specify a DNS server for public network. However, the input in the field is never used when the VCH deploys. Looking at the inspect network tab, when sending the http request to create the VCH, it seems that the DNS field does not go into the request body.

*

[2018-04-19 18:31] javierfz1980 commented on #423
I've created a fix that allows us to get the networks and create the VCH even when the host status is '(reboot required)'

I'll create the PR to have it ready if we want to proceed.

[2018-04-19 19:17] javierfz1980 opened #441 "When cluster on vc is empty (with nothing inside) the cluster is showed up with no name in Creation Wizard"
When cluster on vc is empty (with nothing inside) the cluster is showed up with no name in Creation Wizard.

**VIC version:**

ova: vic-dev-v1.4.0-dev-4372-3f7dc144.ova

ui: vic_17999.tar.gz

![Screen Shot 2018-04-19 at 16.12.50.png](https://images.zenhubusercontent.com/5a8ec2b04b5806bc2bc7f798/86d706b9-b0bf-4708-ac98-9b968cccfad0)

![empty-cluster-wizard.gif](https://images.zenhubusercontent.com/

[2018-04-19 19:20] javierfz1980 opened #442 "CLI copy command on the summary step of the wizard is working but it doesn’t shows the success message."
CLI copy command on the summary step of the wizard is working but it doesn’t shows the success message

**VIC-UI version:**

ova: vic-dev-v1.4.0-dev-4372-3f7dc144.ova

ui: vic_17999.tar.gz

![cli-bug.gif](https://images.zenhubusercontent.com/5a8ec2b04b5806bc2bc7f798/9c51d5f7-cdb4-47cd-90ea-a12e48048fb8)

[2018-04-20 08:08] stuclem commented on #263
@hickeng and @jak-atx, if this is not going to be fixed in 1.4, do I need to add something in the doc to tell people to remove the default VCH name from that field?

[2018-04-20 12:35] javierfz1980 commented on #442
Fix should be add a static selector:

https://vmware.github.io/clarity/documentation/v0.11/alerts

[2018-04-20 15:39] zjs commented on #263
The field appears to be marked as required, so I don't think clearing the value is an option.

This seems to be higher priority than it's currently labeled, but perhaps I've misunderstood the user-facing impact.

[2018-04-20 19:53] javierfz1980 commented on #435
You can find all the information on the original issue: https://github.com/vmware/vic-ui/issues/389

[2018-04-20 20:49] #389 closed

[2018-04-20 20:57] #442 closed

[2018-04-20 21:08] #428 closed

[2018-04-23 18:03] jak-atx commented on #429
Closing as we have tested the fix on @lgayatri environment and reinstall seemed to fix the issue as per @javierfz1980

[2018-04-23 18:03] #429 closed

[2018-04-23 20:16] jak-atx commented on #430
@javierfz1980 please verify if this is correctly being passed in the api request from the wizard.

@zjs can you confirm the '--insecure-registry option' is required in the cli command?

[2018-04-23 20:37] javierfz1980 commented on #430
I’m seeing the option in the CLI and also in the request on my local env, as you can see in the screenshots:

![insecure-registry-cli](https://user-images.githubusercontent.com/36636787/39151703-70ebb686-471c-11e8-8d2f-9c69da8275e1.png)
![insecure-registry-request](https://user-images.githubusercontent.com/36636787/39151704-712182f2-471c-11e8-956a-188c214a1998.png)

I'm testing against:
ova - vic-

[2018-04-23 20:55] SemperFu commented on #429
@jak-atx I just got this same issue today. I removed all my VHCs and the current ova and redeployed another one registering to vcenter. It's the same version. Do I need to remove and reinstall the plugin or run the upgrade script?

[2018-04-24 13:44] javierfz1980 commented on #439
Not sure if we have a bug here, or an expected behavior...

DNS setting is sent only when user selects "static" over the public network. If the public network is set to DCHP the DNS input is not sent on the request.

Please take a look at this screenshots:
![networks](https://user-images.githubusercontent.com/36636787/39190837-d4d03782-47ab-11e8-85b5-b696016d50e9.png)
![summary](https://user-image

[2018-04-24 16:26] AngieCris commented on #439
@javierfz1980
I'll confirm with the customer if `static` option is selected from the wizard.
I think there's a point of confusion because even if `DHCP` option is selected, if user provides a DNS address, the DNS setting will show up in the generated CLI command. However since `DHCP` option is selected, it's correct that the HTTP request body does not include DNS field, the generated CLI probably

[2018-04-24 16:33] mdubya66 commented on #439
if DHCP, no DNS is my understanding of how things should work. @zjs can you comment.

[2018-04-24 16:59] zjs commented on #439
The documentation suggests that you can use `--dns-server` with DHCP.

https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/public_network.html#dns-server-

I don't see anything in the CLI or API code that would prevent using `--dns-server` with DHCP, and was able to use `--dns-server` without specifying static addresses and verify the setting via inspect. I did not attempt

[2018-04-24 17:29] javierfz1980 commented on #439
So, we have to be consistent with the CLI generator (include DNS with or without DHCP/Static) or with api request behavior (include DNS only with Static) and change the other one accordingly.

I don't see anything in the CLI or API code that would prevent using --dns-server with DHCP, and was able to use --dns-server without specifying static addresses and verify the setting via inspect. I did not

[2018-04-25 15:43] mdharamadas1 commented on #435
@andrewtchin we missed planning this, so I assigned same points as any other nightly test to this.

[2018-04-25 15:45] mdharamadas1 commented on #419
@andrewtchin We missed planning this, so I assigned same points as any other nightly test.

[2018-04-30 22:07] jak-atx opened #452 "Test flex vs 6.7"
Some plugin customers have reported a critical issue with Flex Client 6.7GA: PR:
https://bugzilla.eng.vmware.com/show_bug.cgi?id=2104626

Certain plugins which were not upgraded to be compatible with Spring 4 can trigger a Flex Client crash.

We need to thoroughly test the plugin against this scenario to make sure we don't see any issues.

[2018-04-30 22:11] jak-atx commented on #452
We also need to test our previous released plugins from 1.0

[2018-05-01 17:36] mdubya66 opened #455 ""no permission to create a resource pool" create wizard"
@maxisam commented on [Tue May 01 2018](https://github.com/vmware/vic/issues/7865)

#For stories, please include the information below:

We didn't have `Resource Pool` before we install VIC. But we created it when we tried to create VCH. However, the interface doesn't show any Resource Pool to select. And we can't create VCH successfully. It always shows error like

If I use vic-machine-windows an

[2018-05-01 17:53] AngieCris commented on #455
@zjs I remember we don't allow user to select resource pool directly thru UI? We only have options of clusters or standalone ESX hosts

@maxisam VIC will automatically create VCH resource pool for the VCH VM. Did you select a host/cluster on step 2 of create wizard?
Did the error "no permission to create a resource pool" popped up when you hit VCH create? If so, can you ssh into appliance and grab

[2018-05-01 18:01] zjs commented on #455
If the UI doesn't show existing [non-VCH] resource pools, that sounds like a bug.

[2018-05-01 18:06] AngieCris commented on #455
@zjs verified that indeed non-VCH pools are not showing up in step 2 of the wizard.
It seems like "no permission to create a resource pool" error is a different problem.

@jak-atx @lmalvins It seems that we're not showing non-VCH resource pools in step 2 of create wizard. Is this a bug? Can you verify?

[2018-05-01 19:00] jak-atx commented on #455
@AngieCris do you have an vc environment that we can see what you're seeing?

[2018-05-01 19:02] AngieCris commented on #455
@jak-atx I have a generic nimbus VC box. What I did was:
1. create a resource pool on web client
2. launch wizard to create a new VCH
3. on step 2 "Compute Resource" of create wizard,  I didn't see the new empty resource pool I created under the cluster

[2018-05-01 19:55] maxisam commented on #455
@AngieCris Yes, I select a cluster in UI and that leads to no permission error.

I don't know how to enable ssh access, any help?

[2018-05-01 19:56] AngieCris commented on #455
@maxisam you should have already enabled it when you deploy the OVA. One of the steps of deploying OVF template is for you to specify a root password
documentation for ssh into vic appliance and download logs: https://vmware.github.io/vic-product/assets/files/html/1.3/vic_vsphere_admin/appliance_logs.html

[2018-05-01 20:08] jak-atx commented on #455
We are currently not displaying any resource pools in the wizard and it looks like this filter has been in place since last year at least. I'm quite sure it was a design decision at the time, possibly due to filtering constraints. It will require us to be able to filter non-VCH resource pools.

@javierfz1980 please take a look when you get back to see what would be required for us to do this.

[2018-05-01 21:09] maxisam commented on #455
[code]

[2018-05-02 15:44] andrewtchin opened #458 "UI Plugin upgrade.sh script refers to 1.1 documentation"
@zjs commented on [Mon Dec 11 2017](https://github.com/vmware/vic-product/issues/1248)

Seen while invoking `upgrade.sh`:
[code]

[2018-05-02 19:26] javierfz1980 opened #460 "Create e2e in order to test Host Affinity UI"
**Details:**
We need to create a new e2e test in order to test the new Host Affinity UI feature created on #401

[2018-05-02 19:27] javierfz1980 commented on #401
@lmalvins I've created a new issue in order to track this e2e integration: https://github.com/vmware/vic-ui/issues/460

[2018-05-03 14:17] javierfz1980 opened #461 "IP Range input is not selectable on VCH Creation Wizard"
**Details:**
During VCH Wizard creation, on Network step under advanced 'Advanced -> Optional Container Networks' the IP Range input is not selectable.

**Actual behavior:**
IP Range input is not selectable.

**Expected behavior:**
IP Range input should be selectable.

![input-disabled](https://user-images.githubusercontent.com/36636787/39582021-4e41c4dc-4ec3-11e8-91b7-88ab58104478.gif)

[2018-05-03 14:43] #435 closed

[2018-05-03 15:07] #423 closed

[2018-05-03 15:14] jak-atx commented on #461
@mdubya66 @mhagen-vmware any input on a priority for this one?

[2018-05-03 15:15] #441 closed

[2018-05-04 16:39] andrewtchin opened #465 "Getting Started Page/fileserver updates for VIC UI plugin automated install"
Related to PR: https://github.com/vmware/vic-product/pull/1790
**User Statement:**

As a user I want to be able to manage VIC UI plugin auto install.

**Details:**

**Acceptance Criteria:**
- [x] Add new modal which shows the fingerprint with a cancel and continue button
- [x] Add an ajax call to get the thumbprint from vcenter
- [x] Add call to the API for plugin install
- [x] UX review
- [x] Dis

[2018-05-08 17:10] zjs opened #468 "Clusters nested within folders are not selectable in VCH creation wizard"
**VIC-UI version:**

1.3.1

**Platform details:**

N/A

**Browser details:**

N/A

**Steps to reproduce:**

Create a folder within a datacenter. Create a cluster within that folder.

![image](https://user-images.githubusercontent.com/408880/39771598-a8434432-52a7-11e8-94fb-1c1f42196d5b.png)

**Actual behavior:**

The cluster is not shown in the Creation wizard.

![image](https://user-images.github

[2018-05-09 12:35] javierfz1980 opened #469 "Manual crossport from master to feature/vch-configure"
Since work on feature/vch-configure has started months ago and it has changed, removed and/or renamed several components files, we will have to manually crossport several commits/fix pushed during last sprints to master to the feature branch.

We are manually tracking those commits that are currently on master that will have to be manually crossported to feature branch once the reconfigure refacto

[2018-05-09 16:14] singhshwetaQE commented on #414
Test is completed and Merged

[2018-05-09 16:14] #414 closed

[2018-05-09 16:33] sgairo commented on #455
Some investigation is needed, separate issue to follow.

[2018-05-09 16:37] sgairo commented on #452
Address with documentation.

[2018-05-09 16:41] #344 closed

[2018-05-09 17:50] #391 closed

[2018-05-09 17:57] zjs opened #473 "Design a way for the creation wizard to allow selection of non-VCH resource pools as compute resource"
**User Statement:**

As a VI Admin, I would like to create a VCH within a resource pool using the VCH creation wizard.

As a VI Admin, I do not want to see resource pools I cannot use, such as those belonging to another VCH.

**Details:**

To address this use case, the UI needs a way to get a list of non-VCH resource pools. This issue tracks that design work.

If necessary, this design may impose

[2018-05-09 18:40] morris-jason commented on #465
Changes to the vic-product repo should be made to the `feature/auto-vic-ui-plugin` branch.

[2018-05-10 14:12] mdharamadas1 opened #474 "[ Nightly ] Networks don't populate if no cluster is created"
#423 was fixed but seen in nightlies yesterday. This needs a triage if this repeats in the next nightly run, so lets wait before we investigate this.

OVA version: vic-dev-v1.5.0-dev1-4997-7a3d8471.ova
Nightly build: https://vic-jenkins.eng.vmware.com/job/vic-product-nightly/41/

[2018-05-11 20:48] #388 closed

[2018-05-11 22:05] #461 closed

[2018-05-14 13:13] lmalvins opened #476 "Sanity testing VIC plugin against VC 6.7 and 6.7 ESXi hosts"
Now VC 6.7 EP build (https://buildweb.eng.vmware.com/ob/8433095/) contains the fix related to web client login issue (PR#2104626). Is a must to complete sanity testing of 2nd party plugins using the EP build and provide the result by EOD 05/11.

The confluence page with the results:
https://confluence.eng.vmware.com/display/VRM/Second+Party+Plugin+Sanity+Test+Result

[2018-05-14 13:14] #476 closed

[2018-05-15 15:48] singhshwetaQE opened #478 "Add nightly test for OVA vMotion"
Need to add nightly test for OVA vMotion

[2018-05-16 14:56] mdharamadas1 commented on #474
Seen again in https://vic-jenkins.eng.vmware.com/job/vic-product-nightly/47

[2018-05-16 20:07] #419 closed

[2018-05-17 14:24] mdharamadas1 opened #480 "[ Nightly ] 5-09-Network-Folder test fails after networks wizard hangs"
Seen in nightly test suite, this could be temporary issue but needs triage if it repeats (check comments)

Issue: Network wizard panel hangs, unable to select network (see below screenshot)

![selenium-screenshot-10](https://user-images.githubusercontent.com/30418983/40183715-19858552-59b4-11e8-87a7-381c928299c0.png)

Nightly Build: https://vic-jenkins.eng.vmware.com/job/vic-product-nightly/48

[2018-05-17 17:29] #401 closed

[2018-05-17 20:57] mdharamadas1 commented on #473
Just design and doc

[2018-05-18 13:54] mdharamadas1 commented on #474
Seen again in https://vic-jenkins.eng.vmware.com/job/vic-product-nightly/49

[2018-05-18 14:18] mdharamadas1 commented on #480
Also, seen in https://vic-jenkins.eng.vmware.com/job/vic-product-nightly/49

[2018-05-18 19:19] morris-jason opened #489 "Automated VIC UI Plugin - Update drone trigger"
**User Statement:**
As a developer I want automated testing of the automated VIC UI plugin install.

**Details:**

**Acceptance Criteria:**
- [ ] Update vic-ui downstream triggers to vic-product instead of vic

[2018-05-21 20:04] zjs commented on #295
It looks like the linked mock-ups are related to VIC Upgrade, not VCH upgrade. I think we'll need a different set of mockups in order to properly decompose this Epic.

[2018-05-22 14:08] mdharamadas1 commented on #474
Seen again in https://vic-jenkins.eng.vmware.com/job/vic-product-nightly/53

[2018-05-22 21:54] zjs commented on #124
Closing based on vmware/vic-product#1613; using VM Network within VC probably doesn't make sense. We should just have UI users create a DPG.

[2018-05-22 21:54] #124 closed

[2018-05-23 14:15] mdharamadas1 commented on #480
Also, seen in https://vic-jenkins.eng.vmware.com/job/vic-product-nightly/54

[2018-05-23 15:33] lmalvins opened #492 "Add upgrade VCH option on VCH actions/All actions menu"

[2018-05-23 15:37] lmalvins opened #493 "Add upgrade VCH option on the VCH item menu on the VCH list page"

[2018-05-23 18:31] javierfz1980 opened #494 "VCH Configure UI - Add reconfigure button to vch's menu"
Add reconfigure button to each vch's menu under "Virtual Container Hosts" tabs.
This button should link to the configure tab of the VCH VM.

![screen shot 2018-05-23 at 12 41 46 pm](https://user-images.githubusercontent.com/36636787/40443940-39b183e6-5e9e-11e8-8ba0-654a912a3c7f.png)

[2018-05-23 18:35] javierfz1980 opened #495 "VCH Configure UI - disable non cofigurable fields on each reconfigure page."
Since not all fields on each page of the VCH Creation Wizard will be reconfigurable, we should disable non reconfigurable fields on each page of a VCH configure tab.

[2018-05-23 18:39] javierfz1980 opened #496 "VCH Configure UI - e2e"
We should add an e2e test to cover the new reconfigure feature.
This could be addressed in one single e2e or we can spread it into one e2e for each configure page.

[2018-05-23 18:43] javierfz1980 opened #497 "VCH Configure UI - strong testing after refactor is finished"
Since we are refactoring all the components  involved on the creation wizard, we should run a strong manual test over the creation and configuration flows in order to find any possible bug that could be missed during refactoring.

[2018-05-23 18:47] javierfz1980 opened #498 "VCH Configure UI - api integration fine tuning"
Since UI work is going forward without a working reconfigure api we will need to do a fine tuning on UI side after api works is finish.

[2018-05-23 19:28] javierfz1980 opened #499 "VCH Configure UI - Implements i18n on reconfigure flow"
Implements i18n on the entire reconfigure flow.

[2018-05-23 23:28] #380 closed

[2018-05-24 00:10] #392 closed

[2018-05-24 17:56] zjs opened #501 "Intermittent "Could not find any VIC appliance VM" error when using Linked Mode"
**VIC-UI version:**

1.4.0 GA

**Summary:**

Similar to what's described in #368, "Could not find any VIC appliance VM" errors are intermittently shown in a Linked Mode environment with 4 VCs.

**Steps to reproduce:**

Deploy a Linked Mode environment with 4 VCs. Deploy the 1.4.0 GA OVA. Configure the UI plugin. Attempt to use the plugin from within the H5 client.

**Actual behavior:**

Intermitte

[2018-05-24 18:44] morris-jason commented on #501
Investigate the effects that https://github.com/vmware/vic-product/issues/1702 may have on this issue. Specifically, consider the effects from refactoring `configure.go` not to use the admiral rest client as a tag lookup mechanism.

[2018-05-24 21:48] jak-atx opened #502 "Pen testing documentation"
This pen testing document needs to be updated with requested UI information.

https://confluence.eng.vmware.com/pages/viewpage.action?pageId=306013738

[2018-05-25 16:37] jak-atx opened #503 "Update TSLint rules"
As recommended by security team vic-ui TSLint config should be updated by adding the rulesets from the following Microsoft contribution:
https://github.com/Microsoft/tslint-microsoft-contrib

[2018-05-28 13:20] emeirell opened #504 "VCH Wizard hangs on Network section"
I recently upgrade my VIC environment to version 1.4, including vSphere plugin.
When trying to create a new VCH the wizard hangs on the Network section with an endless spinning.

VIC: 1.4.0.1149
vCenter Appliance: 6.5.0.5300
Browser: Chrome 61.0.3163.100

The environment has 2 cluster, management and workload, both of them are using vSphere Distributed switches with Port Groups and Logical Switche

[2018-05-29 11:55] Andy-Knight commented on #504
Yep, i pulled 1.4.0 from the VMware official download page an hour ago and have the same thing when deploying a VCH through the wizard.
VIC: 1.4.0.1109
vCenter Appliance: 6.5.0.5300
Browser: Firefox 60.0.1
Client OS: Mac Sierra 10.12.6

[2018-05-29 17:55] sgairo commented on #480
@mdharamadas1 this looks like the same as #504 , should we keep this open to track the test, or close it as a duplicate?

[2018-05-29 18:12] mdharamadas1 commented on #480
@sgairo Lets keep this open for now, if I don't see in couple of weeks, will close it.

[2018-05-29 20:12] javierfz1980 commented on #504
This seems to be a known issue...

@pdaigle has found the same issue on his environment last week. Patrick's words, and same log (from viclifecylce channel):

"Hitting a bug with vic-ui in my lab. It starts up fine but when I get to the “Configure Networks” step, it just hangs (blue spinning wheel)."

"TypeError: Cannot read property 'dvsHosts' of null
    at 0.02e8893b931a1b42c4d5.chunk.js:1

[2018-05-29 20:14] javierfz1980 commented on #504
Please provide VC and ESXs build numbers...

Do we have a working environment were I can reproduce the error ?

Thanks.

[2018-05-31 10:05] Andy-Knight commented on #504
I updated my vCenter to 6.5.0.5700 Build 7119070 (6.5.0f) and left my hosts at 6.0.0, build 3620759 (my hosts aren't supported for 6.5).  Still the same issue.

[2018-05-31 13:48] javierfz1980 commented on #504
Thanks for the info Andy, I’ll take a look with those vc builds and I’ll let you know my findings.

[2018-05-31 19:45] javierfz1980 opened #505 "VCH Configure UI - add new UT"
Since we are refactoring all the components of the VCH creation flow in order to use them as read-only, configure or create components we should add some UT in order to make sure that they are behaving as we expect on each flow.

Also we are adding some brand new components that will also need UT in order to  improve the coverage.

[2018-06-01 04:15] javierfz1980 commented on #480
@mdharamadas1 this is a consistent or random issue ?

I've made an investigation on #504, could you please provide the vc build number were is failing ?

Thanks !

[2018-06-01 14:18] #502 closed

[2018-06-03 04:54] #393 closed

[2018-06-04 15:43] lmalvins opened #506 "Check vic-ui with VC HA mode"
Ensure that vic-plugin works after HA the VIC appliance as well, see bugzilla:
2127492

[2018-06-04 16:11] mdubya66 commented on #468
bug 2130991, needs an owner

[2018-06-04 21:33] mdharamadas1 commented on #480
@javierfz1980 Its random and the VC build is `5973321`

[2018-06-04 21:59] javierfz1980 commented on #480
@mdharamadas1

https://buildweb.eng.vmware.com/ob/5973321/
VC build 5973321 is vCenter Server 6.5 U1

I'm not sure if this version of VC is compatible... that could be the problem, but it should not be a random issue....

Our doc states 6.5.0d or later, but based on my investigation on #504 I believe our docs are wrong and it should be a greater version... anyway, right now on your environment I'm

[2018-06-05 14:46] mdharamadas1 commented on #480
In our tests, its not consistent so it could be related to Nimbus infra too. Do you have the build number for 6.5.0d? or you can check all builds here: https://buildweb.eng.vmware.com/released/?product=vcenter&version=6.5.0&milestone=&oneoff=1

[2018-06-05 15:11] #394 closed

[2018-06-05 22:06] lmalvins opened #509 "Solve timeout problems finding elements on nightly e2e VIC-UI test"
It has been recurrent the last week failures on e2e test on nightly runs.

it has  failed  recurrently on the "should navigate to vch tab" test case on: /vic-ui/h5c/vic/src/vic-webapp/e2e/1.basic.e2e-spec.ts

it maybe related to low poll time at the moment to find the vch tab element.

Browser: Chrome
OS: MacOS X
Error output from jenkins jobs:

 [31m✗ should navigate to vch tab[39m
      [31m-

[2018-06-06 22:13] #465 closed

[2018-06-08 20:15] #509 closed

[2018-06-11 20:46] #395 closed

[2018-06-12 19:24] #430 closed

[2018-06-12 20:02] lmalvins opened #513 "Refactor VIC-UI e2e tests to implement page objects"
**User Statement:**

Taking advantage of the fact that we have only a few e2e tests for vic-ui, is necesary to implement a well aproach to Page Objects on the protractor code and do all the refactor as needed to support this and new incomming e2e tests.

**Details:**
Based on the files:
- app.po.ts
- common.ts

and in the flow structured on the spec file:
- 1-basic.e2e-spec.ts

Prepare a good appr

[2018-06-12 20:04] #460 closed

[2018-06-12 20:42] javierfz1980 opened #514 "Refactor of Compute Capacity - Resource Tree Selector"
We need to do a deep refactor on the Compute Capacity resource tree selector in order to achieve the functionalities requested in the following issues:

1- Design a way for the creation wizard to allow selection of non-VCH resource pools as compute resource #473
2- Clusters nested within folders are not selectable in VCH creation wizard #468

The current tree selector by design is showing only clu

[2018-06-12 23:51] zjs commented on #504
@jak-atx:

How can I map the URIs from https://github.com/vmware/vic-ui/issues/504#issuecomment-393752095 to the corresponding vSphere API call?

Also, do we have any request/response logging for our outgoing API calls? Being able to explain how to reproduce this outside of VIC would be helpful when talking to other teams.

I'd like a crisp example of the behavior that changed between the vSphere

[2018-06-13 14:23] lmalvins opened #516 "Add Host Affinity e2e tests to the nightly vic-ui pipeline"
e2e tests must be included to be executed on the nightly vic-ui tests pipeline

[2018-06-13 16:03] lmalvins opened #517 "Delete non used folder from nimbus after execution of the nigthly VIC UI pipeline"
**User Statement:**

After the execution of the nightly vic-ui pipeline delete non used vm and folder to avoid nimbus quota problem

**Details:**
On Jenkins vic-ui-nightly job add a new command to delete the folder on nimbus environment

[2018-06-13 16:10] lmalvins opened #518 "Add VCenter FQDN/IP on e-mail sent by nightly vic-ui Jenkins pipeline"
**User Statement:**

As a developer, I want to see the IP/FQDN of the test vcenter on the email sent by the nightly vic-ui Jenkins pipeline, so I can access to it quickly

**Acceptance Criteria:**
- email must have the detail(FQDN/IP) of the test vcenter

[2018-06-13 18:05] #347 closed

[2018-06-13 19:39] lmalvins opened #519 "Prepare a nigthly pipeline to e2e test the last vic-ui changes merged into vic-ui/master"

[2018-06-13 20:00] #396 closed

[2018-06-14 19:48] #494 closed

[2018-06-14 19:57] jak-atx commented on #504
@javierfz1980 can you please list the corresponding network call(s)? I don't believe we are logging these anywhere currently.

[2018-06-14 20:18] javierfz1980 commented on #504
Guys, sadly we are not logging anything... the specific network call is made here:

https://github.com/vmware/vic-ui/blob/a4f1012d0798bfca8223363eb574d54552f8515f/h5c/vic/src/vic-webapp/src/app/create-vch-wizard/create-vch-wizard.service.ts#L297

And the call is made in the context of a call to the following service method:

https://github.com/vmware/vic-ui/blob/a4f1012d0798bfca8223363eb574d54552f

[2018-06-15 10:25] renmaosheng commented on #504
https://github.com/vmware/vic-ui/blob/a4f1012d0798bfca8223363eb574d54552f8515f/h5c/vic/src/vic-webapp/src/app/create-vch-wizard/create-vch-wizard.service.ts#L305
Sometimes, the VDS query API returns null value for field of dvsHostsData['dvs:dvsHostsData'],
in that situation, it will throw Type Error if you try to fetch the inner field of dvsHostsData['dvs:dvsHostsData']['dvsHosts'];

we need add n

[2018-06-15 10:32] renmaosheng commented on #504
<img width="1594" alt="2018-06-15 6 29 24" src="https://user-images.githubusercontent.com/14900967/41463754-2e0b29c8-70ca-11e8-9c61-c97c151f7935.png">

[2018-06-15 12:03] javierfz1980 commented on #504
@renmaosheng
the null check it's ok to prevent the console to popup the error but it won't fix the  real issue, the wizard will still hang on the network step since if portgroups are not retrieved you can't select them and you can't proceed to the next step of the wizard.

The real issue is not the null or {} return, we can handle that... the real issue is that the endopint is returning null or {}

[2018-06-15 12:12] renmaosheng commented on #504
if it is null, that means there is no ESXi hosts connected to that switch, we can't even put the vch VM on the portgroup of that switch as there is no compute resources, we should filter out the portgroup in UI, not shown them.

[2018-06-15 12:22] javierfz1980 commented on #504
I know tha null or {} means there are no hosts connected to the vds, and that is the problem... because we know that there are host connected to that vds. the response shouldn’t be null or {}. It should be the list of host.

[2018-06-15 23:32] zjs commented on #504
Thanks, @javierfz1980. To investigate possible changes between the underlying infrastructure versions, it would be helpful to track down what is happening within the `/ui/data/properties/` call. (That appears to be something we've implemented: https://github.com/vmware/vic-ui/blob/e8e3267cacb84b3e60770c43dbe0dc0dfc04341c/h5c/vic-service/src/main/java/com/vmware/vic/mvc/DataAccessController.java)

[2018-06-16 01:50] javierfz1980 commented on #504
@zjs thanks for your answer !
I'm not an expert on the vic-service, but as AFAIK, the endpoint that you are pointing is not handling the failing vds host request...

@jak-atx please correct me if I'm wrong, but our vic-service pointed by @zjs in the previous comment is handling requests made at `/ui/vic/rest/data/properties`
https://github.com/vmware/vic-ui/blob/e8e3267cacb84b3e60770c43dbe0dc0dfc0

[2018-06-18 16:13] zjs commented on #504
Is this the only place we do this, or is this a common pattern within our UI code? I think we need to update any code that's calling `/ui/data/properties` to call `/ui/vic/rest/data/properties` or something else we've implemented in our service layer..

[2018-06-18 19:32] zjs commented on #185
In my case, I discovered that the root cause of my error was having an old, powered off OVA as a part of my vSphere inventory following upgrade. It seems unlikely that this is always the cause for this error message, but is certainly something we should better handle.

[2018-06-19 20:58] artbird309 opened #526 "UI Install Scripts fails with password that has a space"
**VIC-UI version:** 1.4

**Platform details:** Installing from VCSA

**Additional details:**

When I was running the VCSA UI plugin install script I was getting the error message that it would not be install and "--company must be specified". I tried to run the uninstall script and it gave a error that I was passing invalid parameters which it listed as being the last half of my password after a s

[2018-06-20 17:19] lmalvins opened #528 "VIC plugin install fails trying to find the bundle on vic appliance"
**Product versions:**

VC build No.:7515524
VIC-Engine build:19427
VIC-Engine tarball: vic_19427.tar.gz
VIC-UI plugin build: 1248
VIC-UI plugin version: v1.4.0.1248
OVA File: vic-dev-v1.5.0-dev1-5345-c2a9e75d.ova

**Platform details:**

Mac OS, Linux

**Additional details:**

Error messages. (In the UI or from the browser's developer tools)

`" Error! Plugin bundle was not found. Please make sure

[2018-06-20 17:27] lmalvins opened #529 "Prepare parallel execution of e2e test to run against multiple vcenter versions"
#For stories, please include the information below:

**User Statement:**

A brief statement describe who, what and why of the story for example - As a job seeker, I want to search for a job, so I can advance my career.

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.

**Acceptance Criteria:**
Specific deliverable and actionable ite

[2018-06-20 17:29] #518 closed

[2018-06-20 19:17] #528 closed

[2018-06-21 09:37] lmalvins opened #533 "Add OVA build date on test-bed information file"
#For stories, please include the information below:

**User Statement:**

A brief statement describe who, what and why of the story for example - As a job seeker, I want to search for a job, so I can advance my career.

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.

**Acceptance Criteria:**
Specific deliverable and actionable ite

[2018-06-21 13:29] javierfz1980 opened #534 "Refactor create-vch-wizard service getClusterConfig"

[2018-06-21 13:30] javierfz1980 opened #535 "Refactor create-vch-wizard service getClusterVMGroups"

[2018-06-21 13:30] javierfz1980 opened #536 "Refactor create-vch-wizard service getComputeResourceRealName"
We need to refactor create-vch-wizard service -> getComputeResourceRealName method in order to fetch data from the correct endpoint. The new base endpoint will be /ui/vic/rest/data/* instead of /ui/data/* and /ui/vic/rest/tree/* instead of /ui/tree/* and they will be handled by our own vic java service layer.

[2018-06-21 13:31] javierfz1980 opened #537 "Refactor create-vch-wizard service getDcClustersAndStandAloneHosts"
We need to refactor create-vch-wizard service -> getDcClustersAndStandAloneHosts method in order to fetch data from the correct endpoint. The new base endpoint will be /ui/vic/rest/data/* instead of /ui/data/* and /ui/vic/rest/tree/* instead of /ui/tree/* and they will be handled by our own vic java service layer.

[2018-06-21 13:31] javierfz1980 opened #538 "Refactor create-vch-wizard service getREsourceAllocationsInfo"
We need to refactor create-vch-wizard service -> getREsourceAllocationsInfo method in order to fetch data from the correct endpoint. The new base endpoint will be /ui/vic/rest/data/* instead of /ui/data/* and /ui/vic/rest/tree/* instead of /ui/tree/* and they will be handled by our own vic java service layer.

[2018-06-21 13:32] javierfz1980 opened #539 "Refactor create-vch-wizard service getDataStores"

[2018-06-21 13:32] javierfz1980 opened #540 "Refactor create-vch-wizard service getDatacenterForResource"

[2018-06-21 13:35] javierfz1980 opened #541 "Refactor create-vch-wizard service getDatacenter"
We need to refactor create-vch-wizard service -> getDatacenter method in order to fetch data from the correct endpoint. The new base endpoint will be /ui/vic/rest/data/* instead of /ui/data/* and /ui/vic/rest/tree/* instead of /ui/tree/* and they will be handled by our own vic java service layer.

[2018-06-21 13:35] javierfz1980 opened #542 "Refactor create-vch-wizard service getDcClisterAndStandAloneHosts"
We need to refactor create-vch-wizard service -> getDcClisterAndStandAloneHosts method in order to fetch data from the correct endpoint. The new base endpoint will be /ui/vic/rest/data/* instead of /ui/data/* and /ui/vic/rest/tree/* instead of /ui/tree/* and they will be handled by our own vic java service layer.

[2018-06-21 13:36] javierfz1980 opened #543 "Refactor create-vch-wizard service getHostsAndresourcePools"
We need to refactor create-vch-wizard service -> getHostsAndresourcePools method in order to fetch data from the correct endpoint. The new base endpoint will be /ui/vic/rest/data/* instead of /ui/data/* and /ui/vic/rest/tree/* instead of /ui/tree/* and they will be handled by our own vic java service layer.

[2018-06-21 13:36] javierfz1980 opened #544 "Refactor create-vch-wizard service getNetworkingTree"

[2018-06-21 13:36] javierfz1980 opened #545 "Refactor create-vch-wizard service getDvsFromNetworkFolders"

[2018-06-21 13:36] javierfz1980 opened #546 "Refactor create-vch-wizard service getDvsPortGroups"

[2018-06-21 13:37] javierfz1980 opened #547 "Refactor UI endpoints"
We need to fix the endpoints from where to fetch data across whole ui services. The new base endpoint will be /ui/vic/rest/data/... instead of /ui/data... and they will be handled by our own vic java service layer.

[2018-06-21 13:51] javierfz1980 opened #548 "Refactor configure service endpoints"
We need to fix the endpoints from where to fetch data across whole ui services. The new base endpoint will be /ui/vic/rest/data/* instead of /ui/data/* and /ui/vic/rest/tree/* instead of /ui/tree/* and they will be handled by our own vic java service layer.

This issue is to refactor only configure service.

create service endpoints refactor will be handled here -> #547

[2018-06-21 14:53] #504 closed

[2018-06-21 22:02] lmalvins opened #550 "Send parameterized vcenter and exsi version to setup-testbed robot file instead of hardcoded ones"
Actually, the setup-testbed.robot and vic-common.robot file have hardcoded versions of the vcenter and exsi to deploy on.

It is more practical and reusable if we declare these versions as variables and injects them on the Jenkins job, even more for future sanity checks which runs against different vcenters and/or esxi versions.

[2018-06-21 22:27] lmalvins opened #551 "Delete ova files after e2e test"
#For stories, please include the information below:

**User Statement:**

A brief statement describe who, what and why of the story for example - As a job seeker, I want to search for a job, so I can advance my career.

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.

**Acceptance Criteria:**
Specific deliverable and actionable ite

[2018-06-22 21:24] #519 closed

[2018-06-23 16:17] lmalvins opened #554 "Add individual resource directory for each job running in parallel"
**Details:**

Because of conflicts with resources taken at the same time by different jobs when parallel execution is running is a must to create an individual resource folder for each job.

- [ ] create a new directory inside ~/go/src/github.com/vmware/ with name "vic-ui-$VC_BUILD_NUMBER"
- [ ] change to the new created directory
- [ ] add respective git origins for those case where we need to us

[2018-06-25 15:23] lmalvins opened #555 "Update in confluence documentation related to the e2e testing process"

[2018-06-25 20:07] #550 closed

[2018-06-28 14:48] #328 closed

[2018-06-29 11:42] #513 closed

[2018-07-02 16:56] zjs commented on #526
Thank you for the bug report, @artbird309 (and sorry about the delay in getting this triaged).

[2018-07-05 14:57] #555 closed

[2018-07-05 19:14] #536 closed

[2018-07-05 19:14] javierfz1980 commented on #536
this is/will be fixed in #561

[2018-07-05 19:15] javierfz1980 commented on #537
this is/will be fixed in #561

[2018-07-05 19:15] #537 closed

[2018-07-05 19:15] javierfz1980 commented on #538
this is/will be fixed in #561

[2018-07-05 19:15] #538 closed

[2018-07-05 19:15] javierfz1980 commented on #541
this is/will be fixed in #561

[2018-07-05 19:15] #541 closed

[2018-07-05 19:15] javierfz1980 commented on #542
this is/will be fixed in #561

[2018-07-05 19:15] #542 closed

[2018-07-05 19:15] javierfz1980 commented on #543
this is/will be fixed in #561

[2018-07-05 19:15] #543 closed

[2018-07-12 17:19] #526 closed

[2018-07-13 07:34] jidhinthomas opened #563 "VIC plugin failed to register on vCenter 6.8.2"
**User Statement:**

VIC plugin failed to register on vCenter 6.8.2
VIC Version: Version: 1.4.1.1262 (vic_v1.4.1-rc2.tar.gz)
vCenter : BUILDNUMBER: 8915655 (6.8.2)

**Details:**

Installed VIC Plugin on VCSA
VIC vic_v1.4.1-rc2.tar.gz
Plugin installation was successful.
But even

**Acceptance Criteria:**
Specific deliverable and actionable items that the story needs to deliver in order to be consid

[2018-07-13 07:38] lgayatri commented on #563
Thanks @jidhinthomas , please collect /etc/vmware/support/get_vic_appliance_logs.sh as well.

[2018-07-13 08:36] jidhinthomas commented on #563
Uploaded
[vic_appliance_logs_2018-07-13-08-30-17.tar.gz](https://github.com/vmware/vic-ui/files/2191921/vic_appliance_logs_2018-07-13-08-30-17.tar.gz)

[2018-07-23 02:42] DanielXiao opened #564 "VIC plugin failed to register on vCenter 6.7 U1"
**User Statement:**
VIC plugin failed to register on vCenter 6.7 U1
VIC Version: Version: 1.4.1.1262
vCenter : BUILDNUMBER: 9121219

**Details:**
The output shows VIC plugin is successfully installed. But VIC plugin is missing from both html5 and flex vSphere Web Client.

**Acceptance Criteria:**
After restart vsphere-ui and vsphere-client, VIC plugin should show in vSphere web client

#For bug re

[2018-07-24 08:42] lgayatri commented on #564
We can plan to fix this in the next vic release.

[2018-07-24 08:52] renmaosheng commented on #564
@javierfz1980 could you please take a look at this issue?

[2018-07-24 15:37] javierfz1980 commented on #564
Hi guys, I'm not being able to find the OVA containing `VIC Version: Version: 1.4.1.1262` to test it in a fresh VC installation.
Could you please provide the exact OVA version/link deployed so I can try to reproduce it ?

Thanks.

[2018-07-24 19:06] javierfz1980 commented on #564
Hi guys, forget about my las comment... I've been able to reproduce the issue with the following environment specs:

**VC: vsphere67u1** -> https://buildweb.eng.vmware.com/ob/9121219/
**ESX: vsphere67u1** -> https://buildweb.eng.vmware.com/ob/9267045/
**VIC Ova:  release 1.4.1 vic-v1.4.1-5547-ad7eb5f8.ova** -> https://storage.cloud.google.com/vic-product-ova-releases/vic-v1.4.1-5547-ad7eb5f8.ova?_

[2018-07-27 15:50] javierfz1980 opened #565 "Update bundles MANIFEST in order to also match vCenter67u1 springframework version"
Update bundles MANIFEST in order to also match vCenter67u1 springframework version

[2018-07-27 16:02] #565 closed

[2018-07-31 15:29] #564 closed

[2018-07-31 22:34] zjs opened #567 "Support for configuring proxy exclusions"
#For stories, please include the information below:

**User Statement:**

See vmware/vic#8144.

**Details:**

We should allow users to configure zero or more proxy exclusions near where they configure proxy settings for a VCH. Configuring proxy exclusions does not make sense if no proxy is configured.

**Acceptance Criteria:**

- [ ] Updated mockups
- [ ] Updated creation wizard
- [ ] Updated insp

[2018-07-31 23:06] zjs opened #568 "VIC plugin throws a parsing error when customer tries to specify only the gateway for management network."
@yeshwantbabar commented on [Thu Mar 29 2018](https://github.com/vmware/vic/issues/7602)

![screen shot 2018-03-22 at 12 53 13 pm](https://user-images.githubusercontent.com/33335970/38094979-e2201a46-3334-11e8-9779-7689b6a9c241.png)
When you provide a gateway for the management network, it's mandatory to provide at least one routing destination. UI Plugin doesn't reflect that. It has two separate

[2018-08-03 13:05] lweitzman commented on #568
Updated mockups to show "Routing destination:Gateway" and relabeled hint text for static IP to be "IP range or CIDR"
https://vmware.invisionapp.com/share/MUD5FRBS8#/239666112_Create_VCH_Wizard_-_5_Network_Simple_3

![screen shot 2018-08-03 at 9 05 31 am](https://user-images.githubusercontent.com/626032/43644339-660179c4-96fc-11e8-9fee-29a86a475a01.png)

[2018-08-03 13:07] lweitzman commented on #567
Updated mockups to allow for 1 or more proxy exclusions
https://vmware.invisionapp.com/share/MUD5FRBS8#/239666133_Create_VCH_Wizard_-_5_Network_-_Advanced_2

![screen shot 2018-08-03 at 9 06 29 am](https://user-images.githubusercontent.com/626032/43644409-992079ea-96fc-11e8-893f-522c31f52fd9.png)

[2018-08-08 21:56] zjs opened #569 "Show certificate expiration information when viewing VCH properties"
**User Statement:**

As an infrastructure administrator responsible for managing a Virtual Container Host, I want to be able to easily see when its certificate will expire.

**Details:**

Perhaps a notification or warning of some sort should be displayed if the certificate will expire soon.

**Acceptance Criteria:**

TBD by UX

[2018-08-10 23:27] zjs commented on #489
@wjun: This should be an easy change to update the `DOWNSTREAM_REPO` variable in the `.drone.yml`:

https://github.com/vmware/vic-ui/blob/0b8d9678436032adac61303006a0363ecc345492/.drone.yml#L103-L116

[2018-08-17 05:52] #468 closed

[2018-08-17 05:54] zhoumeina commented on #468
fixed by Javier
pr details:
https://github.com/vmware/vic-ui/pull/561

[2018-08-17 14:05] stuclem commented on #568
UI change, so doc needs to be updated accordingly.

[2018-08-17 17:03] stuclem commented on #365
@renmaosheng is this still an issue now that we have the automated install/upgrade of the client plug-in?

[2018-08-23 07:22] zjs opened #570 "Determine when the Flex client plugin was last functional with vSphere 6.5"
There has been a report that the 1.4.3 Flex client plugin is not functional with vSphere 6.5+.

It is not currently known whether this is a regression, but the documentation suggests that it may be. We should investigate what versions of the Flex client plugin have worked with vSphere 6.5 in order to decide how to proceed.

The Flex client plugin provides substantially less functionality than the

[2018-08-23 11:13] wjun opened #572 "Provide the plugin user with more visibility into the available plugins"
As described in [#1952](https://github.com/vmware/vic-product/issues/1952),

For 1.4.3, display the version of the OVA the plugin is communicating with on the plugin's "summary" page.

Eventually, this likely involves replacing the initial landing page of the plugin which currently has a single-row datagrid. (Or removing that page entirely and adding a tab on the next page of the plugin, between "

[2018-08-23 11:13] wjun opened #573 "Improve the plugin's behavior when multiple OVAs are detected."
@wjun commented on [Thu Aug 23 2018](https://github.com/vmware/vic-product/issues/1965)

For 1.4.3, do not attempt to connect to OVAs which are not powered on. Display a clear error message if OVAs are present, but none are powered on.

This involves changes to the plugin's OVA lookup logic, changes to the plugin's error handling, and additional tests.

Eventually, only use OVAs with an API server

[2018-08-23 15:03] javierfz1980 commented on #473
This is fixed on #561

[2018-08-23 15:05] renmaosheng commented on #473
thanks Javier for the confirmation.

[2018-08-23 15:05] #473 closed

[2018-08-23 15:35] zjs opened #576 "After disabling and re-enabling use of client certificates, no option to select certificates is shown"
**VIC-UI version:**

1.4.2 GA

**Steps to reproduce:**

Load the VCH Creation Wizard. Proceed to the "Security" page.

1. Disable use of client certificates.
2. Enable use of client certificates.

**Actual behavior:**

No option to select certificates is shown.

**Expected behavior:**

The option to select certificates re-appears.

**Screenshots:**

#### Before
![step 5 - original](https://user-im

[2018-08-28 13:11] javierfz1980 opened #578 "Missed service provider in the app module"
There is a missing service provider `VicVmViewService` that should be added to the root app Module in order to fix VIC summary view plugin.

[2018-08-28 13:36] javierfz1980 commented on #578
![screen shot 2018-08-28 at 10 35 29](https://user-images.githubusercontent.com/36636787/44726443-1fd6c380-aaae-11e8-81f1-fa6f077d5e7b.png)

[2018-08-28 18:44] #338 closed

[2018-08-30 01:50] #578 closed

[2018-08-30 04:05] renmaosheng commented on #570
Tested vic 1.4.0 with vsphere 6.5 (6.5.0.20000 - build number: 8815520), the flex client plugin is not shown up. the html5 works properly. so there is no regression from 1.4.3 build. We should consider refactor the code to not support flex in 1.5.

[2018-08-30 06:50] zhoumeina commented on #568
@zjs ,I noticed before "Routing destination" is not required field, so now, both Gateway and Routing destination are required. Right?

[2018-08-30 09:46] zhoumeina commented on #568
clarity
![image](https://user-images.githubusercontent.com/4946616/44844105-8c9fb880-ac7c-11e8-8086-ad27fa380b40.png)

[2018-08-30 09:47] zhoumeina commented on #568
I also update the tooltips to make it more clear for users.
For example:
Routing destination:
IP addresses are not valid,please input one or more routing destinations in a comma separated list, e.g. 10.1.0.0/16,10.2.0.0/16:10.0.0.1

[2018-08-30 22:09] zjs commented on #573
Marking serious as this may also affect upgrade workflows, where an old, powered off OVA may still exist.

[2018-08-30 22:16] zjs opened #586 "Display the VCH Management API version on plugin summary page"
As described in vmware/vic-product#1952, display the version of the VCH Management API the plugin is communicating with on the plugin's "summary" page, near where the plugin version is displayed.

As the user is not able to select which API server to use (#572), providing this information may greatly aid debugging when multiple versions of API servers are available.

[2018-08-30 22:20] zjs opened #587 "Improve the plugin's behavior when multiple OVAs are detected: version compatibility"
As described in vmware/vic-product#1952, improve the plugin's behavior when multiple OVAs are detected.

Only use OVAs with an API server that implements a compatible version of the VCH Management API. Display a clear error message if OVAs are present, but none are compatible.

Builds on #573

[2018-08-31 07:06] #489 closed

[2018-09-03 02:11] zhoumeina commented on #586
@zjs, Do you mean the version of this api: https://10.193.25.225/ui/vic/rest/services/get-vic-appliances

[2018-09-03 02:11] zhoumeina commented on #586
![image](https://user-images.githubusercontent.com/4946616/44964195-bfd69600-af61-11e8-88a6-03cc520eb005.png)

[2018-09-03 08:36] zhoumeina commented on #576
AlertIconAndTypesService  has been deprecated in latest version in 0.11 So there will be a javascript error after swith the button.

[2018-09-05 02:29] zhoumeina commented on #576
fixed by pr#589

[2018-09-05 02:29] #576 closed

[2018-09-05 02:30] zhoumeina commented on #568
fixed by pr:#583

[2018-09-05 02:30] #568 closed

[2018-09-06 06:01] renmaosheng commented on #514
@zhoumeina could you please close this if all code are merged and tested? thanks.

[2018-09-06 06:05] #514 closed

[2018-09-07 02:12] zhoumeina commented on #573
@lweitzman , could you please design this?

[2018-09-07 22:26] zjs commented on #586
I'm not sure where that API sources its data from. If it's from the metadata on the VM, I worry that there are cases where it might be inaccurate.

I think the safest way to get the API server version is from the API server itself (from the `/version` API endpoint).

The code would be equivalent to this, but would call `/container/version` instead of `/container/hello`:

https://github.com/vmware/

[2018-09-10 23:19] zjs commented on #573
Marking as need info: we need to confirm whether this is required for 1.4.3.

[2018-09-10 23:19] zjs commented on #586
Marking as need info: we need to confirm whether this is required for 1.4.3.

[2018-09-12 05:56] DanielXiao opened #596 "Can not select a datacenter as compute resource"
**User Statement:**

As a vic admin, I want to select a datacenter as compute resource when I create a VCH from webclient.

**Details:**
See the screenshot,  I can not select the datacenter as compute resource to create a VCH.

**Acceptance Criteria:**
datacenter is selectable in compute capacity step of VCH creation wizard

**VIC-UI version:**
v1.4.3-rc1
![create vch](https://user-images.githubus

[2018-09-12 06:01] zjs commented on #596
The failing test seems to target a standalone host (i.e., a host not in a cluster), not a datacenter directly: https://github.com/vmware/vic-product/blob/7d7bbb3eeee9de6e30fb0e67377d58a2b03292c0/tests/manual-test-cases/Group5-Interoperability-Tests/5-01-Distributed-Switch-No-Cluster.robot#L72

[2018-09-12 06:58] wjun commented on #573
@zjs According to the sorting algorithm at https://github.com/vmware/vic-ui/blob/586ed3f14d95bdd302baebcfd8911c56ecfe0b3a/h5c/vic-service/src/main/java/com/vmware/vic/PropFetcher.java#L451
UI will put the latest build number in the list and use it. So it should be fine.

[2018-09-12 18:08] zjs commented on #573
@wjun: Ah, I see. The sorting algorithm suffers from the same issue as some of our other code that looks at version numbers: it assumes a build with a higher drone job number is a newer version than a build with a lower drone job number. (Which isn't always true.) However, it should be an acceptable assumption for released builds for now; customers who use only released builds shouldn't be able to

[2018-09-13 05:57] zhoumeina commented on #586
fixed by:#598

[2018-09-13 05:57] #586 closed

[2018-09-13 05:59] zhoumeina commented on #596
not a issue. close it.

[2018-09-13 07:54] DanielXiao commented on #596
There are 3 ESXi servers under the datacenter, see screenshot:
<img width="564" alt="screen shot 2018-09-13 at 3 50 16 pm" src="https://user-images.githubusercontent.com/1393804/45474710-00f25580-b76d-11e8-94ed-52a82c2c8ca2.png">

But in the "Create Virtual Container Host" wizard, none of them is show as compute resource and user is blocked in this step.
<img width="1039" alt="screen shot 2018-09-

[2018-09-13 07:56] DanielXiao commented on #596
Acceptance Criteria:
ESXi server is showing and selectable in compute capacity step of create VCH wizard

[2018-09-13 09:40] renmaosheng commented on #596
https://github.com/vmware/vic-ui/pull/603 fixing this.

[2018-09-13 09:40] #596 closed

[2018-09-13 15:01] zjs commented on #468
I think this is worth a release note, as it was a customer-reported issue.

[2018-09-13 15:02] zjs commented on #473
I think this may be worth mentioning in the release notes, perhaps as a part of the release note for #468.

[2018-09-13 15:05] zjs commented on #568
Despite being a customer-reported issue, this does not seem significant enough to mention in the release notes.

[2018-09-13 15:08] zjs commented on #338
Despite being a customer-reported issue, this does not seem significant enough to mention in the release notes.

[2018-09-13 15:09] zjs commented on #576
Despite being a customer-reported issue, this does not seem significant enough to mention in the release notes.

[2018-09-13 15:13] zjs commented on #526
I think this is worth a release note, as it was a customer-reported issue.

[2018-09-13 15:14] zjs commented on #401
I think this is worth release noting, probably as an enhancement.

[2018-09-13 15:45] zjs commented on #568
I think this is worth a release note, as it fixes a previously release noted issue: https://github.com/vmware/vic/issues/7602#issuecomment-389189418

[2018-09-14 05:03] wjun opened #604 "Flex plugin cannot show in vCenter web client on 6.5/6.7"
Since VIC 1.4.0, Flex plugin cannot show in vCenter web client on 6.5/6.7 after installation.

We will either fix the issue or decide not continue to support Flex plugin.

[2018-09-17 03:43] wjun opened #605 "Tree nodes are not consistent with vCenter view"
When I create a VCH from UI plugin wizard, during the step of selecting a computing resource, in two cases, UI plugin shows the tree nodes structure in different order than vCenter view.

Case 1: there are 3 clusters under a datacenter: cls1, cls2, cls3. The tree node list order is cls3, cls2, cls1, while vCenter view is cls1, cls2, cls3.

Case 2: there are 3 datacenters dc1, dc2, dc3. dc2 and dc3

[2018-09-17 11:05] stuclem commented on #401
Documented as a new feature in https://github.com/vmware/vic-ui/releases/tag/v1.4.3 and documented fully in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/vch_compute.html#hostaffinity. Removing doc labels.

[2018-09-17 11:19] stuclem commented on #473
Added as a resolved issue in https://github.com/vmware/vic-ui/releases/tag/v1.4.3

[2018-09-17 11:20] stuclem commented on #468
Added as a resolved issue in https://github.com/vmware/vic-ui/releases/tag/v1.4.3

[2018-09-17 12:16] stuclem commented on #568
Added as a resolved issue in https://github.com/vmware/vic/releases/v1.4.3

[2018-09-18 09:48] renmaosheng commented on #281
this should be part of wizard completion, we should triage for VIC 1.5

[2018-09-18 11:09] KeithRichardLee opened #606 "VCH creation using Client failing with " parsing vch body from "" failed, because json: cannot unmarshal object into Go struct field Network.static of type models.CIDR""
**VIC-UI version:**
v1.4.1.1262

**Platform details:**
Windows Server 2012 R2

**Browser details:**
FireFox 60.2 ESR

**Additional details:**
Fresh install of VIC

**Steps to reproduce:**
Create a VCH in the vSphere Client using following parameters taken from the vic-machine command

./vic-machine-linux create --name VCH_01 --compute-resource /SA-Datacenter/host/SA-Compute --image-store SA-Shared

[2018-09-18 14:29] KeithRichardLee opened #607 "VCH wizard does not create --container-network-gateway parameter in CIDR format"
**VIC-UI version:**
v1.4.1.1262

**Platform details:**
Windows Server 2012 R2

**Browser details:**
FireFox 60.2 ESR

**Additional details:**
Fresh install of VIC

**Steps to reproduce:**
Create a VCH in the vSphere Client using following parameters taken from the vic-machine command which was auto generated.

./vic-machine-linux create --name VCH_01 --compute-resource /SA-Datacenter/host/SA-Compu

[2018-09-18 17:50] zjs commented on #570
It seems like https://github.com/vmware/vic-ui/issues/570#issuecomment-417183187 covers the investigation. It looks like #604 has been filed for tracking the resolution of this.

[2018-09-18 17:50] #570 closed

[2018-09-18 17:51] #452 closed

[2018-09-18 17:52] zjs commented on #563
Based on #570, we do not expect the flex plugin to work with newer versions of vCenter. It looks like #604 may track fixing it, if that's deemed necessary.

[2018-09-18 17:52] #563 closed

[2018-09-18 21:21] KeithRichardLee commented on #607
Issue exists in v1.4.3 also

[2018-09-18 22:50] renmaosheng commented on #606
Hi Keith,
      Thanks for reporting the issue.
Meina,
       could you please take a look? thanks

[2018-09-18 23:38] zjs commented on #607
It looks like this is closely related to both #606 and #568.

The [documentation](https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/container_networks.html#gateway) indicates that the format for the container network gateway field should be a CIDR, but the UI appears to instruct users to enter an IP address:

https://github.com/vmware/vic-ui/blob/38172238a4b1df4f3b30c608

[2018-09-28 12:37] KeithRichardLee opened #651 "VCH creation using vSphere Client failing with "Error parsing network mask for container network container-nw: exactly one subnet must be specified""
Bug Report Basic Information
----------------------------
- vCenter Server version: 6.5.0 build 8307201
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-v1.4.1-5547-ad7eb5f8.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flex
- Does the VIC appliance receive configuration by DHCP? No
- What stage of the Appliance Lifecycle is the VIC appliance in?

[2018-10-11 00:26] hickeng opened #610 "Generated CLI in wizard has incorrect construction for multiple dns servers and compute resource"
In 1.4.3 there are two issues observed with the generated command line:
1. The `--compute-resource-name` option name should be `--compute-resource`
2. If specifying multiple DNS servers, the additional servers are missing the `--dns-server` option name, resulting in misaligned processing of following argument.

I've marked this as sev3 because it's was difficult for _me_ to determine what was wron

[2018-10-11 00:35] zhoumeina commented on #604
We decided not support flex plugin anymore. @wjun , we can check it with Steven.

[2018-10-11 00:37] zhoumeina commented on #606
I will take care of this.

[2018-10-15 04:59] zhoumeina commented on #605
After investigation, I found that this api returns different order with host view.
https://localhost:9443/ui/vic/rest/data/properties/urn:vmomi:Datacenter:datacenter-2:c6c0457c-f1dd-4fe8-865c-fa6362d423fe?properties=host,cluster

[2018-10-15 05:42] zhoumeina commented on #605
According to QueryUtil.java line 332:
 response  = dataService.getData(requestSpec);
I debugged into the result. This order is returned by this service. However, this service is provided by vsphere-sdk.
![image](https://user-images.githubusercontent.com/4946616/46931965-17e3da80-d080-11e8-8704-6c41a30bd49d.png)

[2018-10-16 01:15] zhoumeina commented on #610
fixed by pr:#612

[2018-10-16 01:15] #610 closed

[2018-10-17 00:43] zhoumeina commented on #605
fixed by :#613

[2018-10-17 00:43] #605 closed

[2018-10-22 04:41] zhoumeina opened #617 "vic-ui need to bump up clarity to 0.12 to consistent with harbor and Admiral."

[2018-10-25 04:42] luwang-vmware opened #620 "[1.4.4] UI plugin not show in the VC Client(HTML5) with vsphere6.7"
**VIC-UI version:**
ova is downloaded from https://storage.googleapis.com/vic-product-ova-builds/releases/1.4.4/vic-dev-v1.4.4-dev-6326-5874a1d2.ova.

**Platform details:**
Windows

**Browser details:**
Chrome

**Additional details:**
UI plugin not show in the VC client

**Steps to reproduce:**
1. Using nimbus to deploy VC and 3 ESXi with share iscsi luns.
2.  Login the VC Client using HTML5.
3. D

[2018-10-26 09:46] renmaosheng commented on #604
Meina，
      this bug is tracking the effort to remove the flex code for VIC 1.5.

[2018-10-28 20:00] mashbrno opened #625 "Adding VCH wizzard hangs on Network tab"
vCenter Version: 6.7.0d
ESXi: VMware ESXi, 6.5.0, 6765664
VIC Plugin Version: v1.4.3.1367
Browser: Chome x64 69.0.3497.100, Windows 10,1809

Similar issue to already reported, but the versions of plugin and vCenter are higher and there is no error in Chrome Dev Tools,
Last call to ui/tree/children?nodeTypeId=Datacenter&objRef=urn:vmomi:Datacenter:datacenter-21:1ba1c008-03d4-4e5b-8b6b-3ebf5687fcd6&

[2018-10-30 07:56] zhoumeina commented on #607
fixed by :#619

[2018-10-30 07:56] #607 closed

[2018-11-08 04:46] zhoumeina opened #626 "Upgrade frontend angular dependencies and bump up vic clairity to 0.12."
Currently, the frontend depdencies are as follows:

    "@angular/animations": "^5.2.5",
    "@angular/common": "^5.2.0",
    "@angular/compiler": "^5.2.0",
    "@angular/core": "^5.2.0",
    "@angular/forms": "^5.2.0",
    "@angular/http": "^5.2.0",
    "@angular/platform-browser": "^5.2.0",
    "@angular/platform-browser-dynamic": "^5.2.0",
    "@angular/router": "^5.2.0",
    "@clr/angular": "^

[2018-11-11 02:32] patschi commented on #606
I've just set up a fresh VIC 1.4.4 and experienced same issue. So I'm right that this fix haven't been released with 1.4.4 yet?

[2018-11-12 02:03] zhoumeina opened #628 "create vch wizard can not show the compute resource when data center under a folder."
Currently, if user create a data center under a folder.
User use the create vch wizard to create vch, user can not see this data center in the select tree.

[2018-11-14 11:20] daydrim commented on #625
It seems that network tab works, but shows all the networks in the cluster as Not Configured and we can not choose the network.
vCenter: Version 6.7.0.20000
ESXi: 6.7.0, 10302608
VIC Plugin: v1.4.4.1405
Chrome: 70.0.3538.102 (Official Build) (64-bit)

[2018-11-14 12:05] mashbrno commented on #625
@daydrim Is there way to configure the network?

[2018-11-15 01:00] zhoumeina commented on #625
@mashbrno , I know the vic-ui code from master has this issue, and it already has been fixed. I will test 1.4.4 to make sure everything works well.

[2018-11-15 14:19] daydrim opened #631 "The issue with Network chosing section of VCH deployment is still unresolved"
**VIC-UI version:**
v1.4.4.1405

**Platform details:**
Client: Windows 10
VC: 6.7.0 Build 10244857

**Browser details:**

IE 11 - UI won't work at all
Chrome 70.0.3538.102 (Official Build) (64-bit) OK
Firefox 63.0.1 (64-bit) OK

**Actual behavior:**
The issue with Network section of VCH deployment is still unresolved. No networks can be chosen.
This issue is described in the following article:
[](

[2018-11-19 02:04] renmaosheng commented on #631
Meina,
     could you please take a look? thanks.

[2018-11-19 02:10] zhoumeina commented on #631
@daydrim ， could you please make a screenshot of your dc structure and the network hanging screenshot?Or I can log in to your vcenter server?I can take a look.

[2018-11-19 04:16] zhoumeina commented on #631
@daydrim , nested folder clusters is not supported in 1.4.4. I tested the master branch with IE11. It is totally ok with it. Because vic 1.4.4 already released, you can use vic 1.5 instead. It will released on December.

[2018-11-19 05:35] zhoumeina commented on #628
fixed by pr: #632

[2018-11-19 05:35] #628 closed

[2018-11-20 14:39] daydrim commented on #631
@zhoumeina , Hello, it happened in Chrome and Firefox.
I can't provide the screenshot, but I can make an example of structure in text below: Network Tab
[code]

If we move dVS to the VC level it works fine.
Like this:
`
->VC
-->DC1
--->vDS
`

PS. I've seen the improvement in the code [create-vch-wizard.service.ts](https://github.com/vmware/vic-ui/commit/c52bf7fc120060d4bc54e8d5ac07b977a9452f3a#dif

[2018-11-21 13:31] mashbrno commented on #625
Still persist with setup:
vCenter Version: 6.7.0U1
ESXi: VMware ESXi, 6.5.0, 6765664
VIC Plugin Version: v1.4.4.1405

[2018-11-22 02:57] zhoumeina commented on #625
@mashbrno ， could you please provide a environment, because I can not reproduce this error in 1.4.4. Can you make a screenshot of network?  Did you add Dswitch in your vcenter? I think this could be a problem already resolved in vic 1.5

[2018-11-22 06:58] mashbrno commented on #625
My problem might be unrelated with VIC - there are some ghost networks. See those attached to VMs, but not to hosts? I removed them from VMs, but this table doesn't seem to be refreshed.
![image](https://user-images.githubusercontent.com/7872442/48886276-aee44500-ee2b-11e8-8705-897546b6d437.png)

Another problem might be in `Failed to verify the vic-machine server at endpoint https://10.68.10.188:

[2018-11-23 00:58] zhoumeina commented on #631
@daydrim , exactly. I reproduced your problem in my environment. Yes. vic 1.4 does not support nested folders. This can be fixed in 1.5

[2018-11-23 02:47] zhoumeina commented on #626
fixed by :#630

[2018-11-23 02:47] #626 closed

[2018-11-29 05:42] jitinkumar2018 opened #652 "VIC 1.4.4 H5 plugin is not being installed (install UI plugin radio button) during VIC registration with VC 6.7 U2"
Bug Report Basic Information
REQUIRED:

vCenter Server version: 6.7 U2
vCenterBuild: 10882746
Embedded or external PSC: No
Filename of the OVA you deployed: vic-v1.4.4-6375-0a6da3d4
How was the OVA deployed? Ovftool
Does the VIC appliance receive configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Initialization/Registration Stage

Bug Details:
VIC H5 plugin do

[2018-11-29 06:38] spranta1977 commented on #299
Hi all, just for your information. https://kb.vmware.com/s/article/52540?lang=en_US will not work, if your PSC is interacting as an VMCA with a custom certificate. In that case you need the whole SSL Chain, otherwise all other stuff like webclient and so on are going to have an invalid certificate an will be blocked by chrome/firefox. VMware support told me there is no solution for that at the mom

[2018-12-04 02:19] zhoumeina commented on #625
@mashbrno , if no network exsit, it will hanging there in the network page. I am not sure what is your environment config. Did you add Dswitch under nested version? If so ,it can be the reason that vic 1.4 does not support nested dswitch. We have already fixed this in the current master branch.

[2018-12-04 02:21] zhoumeina opened #635 "Review the validation logic in vic-ui"
The current validation will hash the whole certificate chain resulting in the wrong thumbprint. https://github.com/vmware/vic-ui/blob/master/h5c/vic-service/src/main/java/com/vmware/utils/ssl/ThumbprintTrustManager.java#L43

Look into validating certificates in a way that can better handle chains.

Might be possible to use KeyStore to validate the certificate against the web client's java keystore

[2018-12-04 07:17] mashbrno commented on #625
I'm using single standard switch with topology on the screenshot (same at all 3 hosts). But as you can see the vCenter shows some networks, which are not bound to any host (eg. `Fortigate`, `EXTERNAL`). This might be the problem, but I have no idea how to remove them.

![image](https://user-images.githubusercontent.com/7872442/49424979-8ac62380-f79c-11e8-99d2-3f7916609580.png)

[2018-12-04 08:47] mirceasandu commented on #299
I had the same issue with vCenter 6.7 Update 1 and VIC 1.4.4 and it's solved after I've replaced vCenter certificates.

Previously I had custom vCenter certificates:
VC-certificate.cer
---VC-certificate---
---intermediate-CA---
---root-CA---

VC-key.key

signing-certificate.cer
---intermediate-CA---
---root-CA---

After I've read all posts here, I've reseted all certificates using option 8 from ce

[2018-12-04 15:35] dbarkelew commented on #299
@spranta1977
Can you add the VMCA certificate the OS trust store? There is normally a store for intermediate CAs for this type of situation. If using Windows you can normally double click on the certificate with the .cer file extension to import the certificate using the Crypto Shell Extensions wizard. If you are needing to do this for multiple computers using a GPO to push the certificates would

[2018-12-04 18:43] dbarkelew commented on #299
Review of the plugin certificate handling is tracked further here https://github.com/vmware/vic-ui/issues/635

[2018-12-05 14:50] stuclem opened #636 "Update links in UI plugin to point to 1.5 docs"
All of the doc links in the vSphere Client plug-in for VIC 1.5 need to point to the 1.5 version of the docs.

I have posted a placeholder version of the 1.5 docs at https://vmware.github.io/vic-product/assets/files/html/1.5/.

@renmaosheng can you please assign this accordingly?

[2018-12-06 07:03] zhoumeina commented on #636
ok. I will take a look.

[2018-12-07 11:07] stuclem commented on #636
Thanks @zhoumeina

[2018-12-11 02:14] zhoumeina commented on #606
@patschi , container-network-gateway already changed to CIDR format in release 1.4.4. Please refer this pr: https://github.com/vmware/vic-ui/pull/619/files

[2018-12-11 02:16] #606 closed

[2018-12-11 06:06] zhoumeina commented on #636
fixed by: #637

[2018-12-11 06:06] #636 closed

[2018-12-12 20:15] renmaosheng commented on #604
Meina,
      is this something we plan to fix in 1.5? if not, please move to 1.5.1, thanks.

[2018-12-12 20:19] renmaosheng commented on #506
Lu, could you please help Meina on this? thanks.

[2018-12-13 04:59] qxmips opened #638 "The plugin doesn't display VCHs and containers after updating to 1.4.4"
#For stories, please include the information below:

**User Statement:**

after updating VIC from 1.4.3 to 1.4.4   the web pluging  doesn't show VHC endpoints and containers screenshots are attached.

**Details:**
VMware VirtualCenter 6.7.0 build-9433931
ESXi, 6.7.0, 8169922
there are two PSCs behind an A10  load-balancer  for this vcenter and a linked vcenter on another site with one PCS .

**Acc

[2018-12-13 07:13] zhoumeina commented on #604
I will try to make a pr to remove flex and see if it can pass the CI. I am not sure how much effort we need to make CI pass.

[2018-12-14 05:41] luwang-vmware commented on #506
@renmaosheng  I deployed and enabled VCHA(with basic mode) within vsphere6.7 build. VIC plugin can be successfully installed and VCH can be deployed through VIC plugin.
I also trigger VC failover and check that the VIC plugin works well in the new active VC and VIC appliance is accessible as well.

Thanks,
Lu

[2018-12-14 14:43] stuclem opened #639 "Help link in Registry Access page points to incorrect doc page"
Found in vic-dev-v1.5.0-dev1-6662-560b4cda.ova.

Click on the help button in the Registry Access page of the Create VCH wizard:

![registry-link.png](https://images.zenhubusercontent.com/56afa3216caf56c9d38c1ecf/7971d716-77c8-4d57-beb0-b2a226e121b3)

This button opens https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/vch_security.html. It should open https://vmware.githu

[2018-12-17 00:44] zhoumeina commented on #638
OK. I WILL TAKE CARE OF THIS.

[2018-12-17 03:16] zhoumeina commented on #638
Hi @qxmips , do you have a vc environment with this issue which I can login?

[2018-12-17 04:34] zhoumeina commented on #638
@qxmips , can you provide me the vc ip?

[2018-12-17 05:10] qxmips commented on #638
it's in an internal network there is no public IP for the VC.

[2018-12-17 07:33] zhoumeina commented on #638
ok. @qxmips , could you please show me the log of vsphere-ui?  and open the browser developer console to find if there are any request status code is not 200?

[2018-12-17 08:22] qxmips commented on #638
Status 500 for Requests URL:
https://vcsa-san.ztelco.local/ui/vic/rest/data/list/?targetType=vic:ContainerVm&properties=match,results&sorting=id,asc&filter=&offset=0&maxResultCount=10
https://vcsa-san.ztelco.local/ui/data/properties/urn:vic:vic:Root:vic%25252Fvic-root?properties=name,primaryIconId
 https://vcsa-san.ztelco.local/ui/vic/rest/data/list/?targetType=vic:VirtualContainerHostVm&propertie

[2018-12-17 09:13] zhoumeina commented on #638
@qxmips , I tried to upgrade from 1.4.3 to 1.4.4 , everything goes on well. I don't have psc configed in my environment. I think I need your environment to investigate.

[2018-12-17 11:09] qxmips commented on #638
@zhoumeina have you found any clues in the logs? at which directions should I look at.

[2018-12-17 11:20] qxmips commented on #638
is there a way of manually installing (downgrading to) the previous version of the plugin?

[2018-12-18 01:18] zhoumeina commented on #638
what version you want to install? 1.4.3?@qxmips

[2018-12-18 01:19] zhoumeina commented on #638
@qxmips , reinstall 1.4.3 will work.

[2018-12-18 01:33] zhoumeina commented on #638
@qxmips , how can you send me your id?

[2018-12-18 01:51] zhoumeina commented on #638
@qxmips , are you there? How can I contact you? By slack?

[2018-12-18 01:51] zhoumeina commented on #638
I need may be we need to investigate it together

[2018-12-18 07:04] renmaosheng commented on #635
It requires lots of engineering work to refactor the code to support, moving to 1.5.1.  Thanks.

[2018-12-18 07:49] qxmips commented on #638
Sorry just saw you messages.
Hi by slack id in vmware.code is @qxmips

[2018-12-18 08:12] luwang-vmware commented on #506
Close it per the previous comment.

[2018-12-18 08:12] #506 closed

[2018-12-18 17:18] dbarkelew commented on #638
@zhoumeina I have a case with the same and have some logs.

[2018-12-18 17:56] dbarkelew commented on #638
@qxmips Before going through the effort of attempting a downgrade could you use the vic-machine cli as a temporary workaround?

[2018-12-19 01:14] qxmips commented on #638
@dbarkelew Sure, the problem is only cosmetic for us. Just want to find out if it's a known bug or some misconfiguration in our  VC - VIC  environment.

[2018-12-19 07:41] wjun commented on #638
@qxmips From the vsphere-ui.log, it looks the html5 web server crashes. Can you try the following command to restart your html5 web server on your vCenter appliance and see if the issue disappear?
service-control --stop vsphere-ui && service-control --start vsphere-ui

[2018-12-19 15:46] stuclem opened #641 "New Registry Certificate download button not showing up correctly and download not working"
1. Deployed vic-dev-v1.5.0-dev1-6723-dc7489d3.ova, fresh install, not upgrade.
2. Logged into Management Portal as vSphere Admin.
3. Went to **Administration** > **Projects** > **Internal Repositories**.

    Button to download registry certificate is not showing up properly:

    ![repos-admin.png](https://images.zenhubusercontent.com/56afa3216caf56c9d38c1ecf/7fdce5e5-1753-4b49-86fb-ea4786b7e4bc)

[2018-12-20 00:58] qxmips commented on #638
@wjun Hi , tried that before, anyway restarted again.  same thing.

[2018-12-20 05:37] zhoumeina commented on #638
![image](https://user-images.githubusercontent.com/4946616/50265872-72246180-045c-11e9-8f0b-2e0781dfaf87.png)

[2018-12-20 05:38] zhoumeina commented on #638
from the api details we can see 1 psc is working , the other is not.

[2018-12-20 08:16] zhoumeina commented on #638
![image](https://user-images.githubusercontent.com/4946616/50272407-a73bae80-0472-11e9-9747-97af7c5e0f1e.png)

[2019-01-03 03:15] zhoumeina commented on #638
@qxmips , is this the same issue with https://bugzilla.eng.vmware.com/show_bug.cgi?id=2257085

[2019-01-05 01:55] renmaosheng commented on #638
meina, I don't think @qxmips can access the bugzilla.
@qxmips please ignore above question, you mentioned the issue is found by upgrading to 1.4.4, do you all the other configuration like the VC PSC configuration is the same comparing when you are in 1.4.3?

[2019-01-08 08:02] renmaosheng commented on #455
please reopen if this still exists in 1.5

[2019-01-08 08:02] #455 closed

[2019-01-08 14:07] farflungfish commented on #606
Hello I have experienced this same bug today on version vic-v1.4.4-6375-0a6da3d4.ova

Is there anything I can provide to you which you can use to replicate the problem?

[2019-01-10 09:25] stuclem opened #647 "Update help link to network requirements"
I have reordered the docs somewhat for 1.5, and have grouped all networking requirements into a single page.

Currently, we have two help buttons in the Configure Networks page of the Create VCH wizard:

- One general help buttton (the ? button at the top)
- One VIEW NETWORK REQUIREMENTS button.

These currently both point to https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_a

[2019-01-10 10:52] renmaosheng commented on #647
@zhoumeina could we change this?

[2019-01-11 02:02] zhoumeina commented on #647
fixed by pr:#648

[2019-01-11 02:02] #647 closed

[2019-01-11 02:04] zhoumeina commented on #639
@stuclem , yes. I submit another fix for this. #649

[2019-01-11 02:04] #639 closed

[2019-01-11 08:15] stuclem commented on #639
Thanks @zhoumeina. All looks good now!

[2019-01-16 06:39] renmaosheng commented on #604
We also need to remove the flex plugin registering code, Wending will handle it.

[2019-01-18 09:30] dukesrg commented on #606
Problem still exists with 1.5.0.1462 official relese plugin

[2019-01-30 05:46] zhoumeina commented on #651
This is already fixed in vic 1.5.
![image](https://user-images.githubusercontent.com/4946616/51960787-641f2300-2495-11e9-8cb0-65b3ab454ddd.png)

[2019-01-30 05:46] #651 closed

[2019-02-14 02:12] #604 closed

[2019-02-27 13:26] stuclem opened #661 "Make IP address in the Summary tab a link to the appliance"
We already provide live links to the VCH admin portal in the Virtual Container Hosts tab of the UI. Could we do the same for the appliance by making the appliance IP address in the Summary tab a live link, either to the appliance welcome page or to management portal?

![appliance_link.png](https://images.zenhubusercontent.com/56afa3216caf56c9d38c1ecf/4cdd603f-a174-4a1c-be5e-8c1f1402e0ed)

[2019-02-27 13:26] stuclem commented on #661
Potential candidate for inclusion in https://github.com/vmware/vic-ui/issues/71?

[2019-02-28 00:49] zhoumeina commented on #501
fixed by pr: #660

[2019-02-28 00:49] #501 closed

[2019-02-28 00:51] zhoumeina commented on #638
@qxmips , I fixed this issue  by pr: #660 which is merged to master. This fix can be get in vic 1.5.2 release. I tested in in the link mode with 2 psc. Not sure it is the exactly same environment with yours. Please feel free to open this if you test 1.5.2 still have this problem.

[2019-02-28 00:51] #638 closed

[2019-02-28 00:54] zhoumeina commented on #652
fixed by pr:#659

[2019-02-28 00:54] #652 closed

[2019-02-28 01:06] zhoumeina commented on #625
@mashbrno , please confirm if you configed correct networks. If the network is correct. vic network tab will not hang up. We already fixed it in vic 1.5. To void this kind of issue. please use the latest vic version in vc.

[2019-02-28 01:06] #625 closed

[2019-02-28 02:09] jwangyangls opened #662 "Add network_width field in create VCH wizard."
#For stories, please include the information below:

**User Statement:**

A brief statement describe who, what and why of the story for example - As a job seeker, I want to search for a job, so I can advance my career.

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.

**Acceptance Criteria:**
Specific deliverable and actionable ite

[2019-03-01 07:01] mashbrno commented on #625
Confirmed, dialog works now. Unfortunately my license doesn't allow me to use VIC, so I have to stick to Docker Swarm anyway. Pity.

[2019-03-05 01:49] #662 closed

[2019-03-11 08:57] renmaosheng commented on #635
@zhoumeina do we still have work to do for this issue? thanks.

[2019-03-12 07:31] renmaosheng commented on #635
haven't hit any issue since last fix.

[2019-03-12 07:31] #635 closed

[2019-04-03 06:07] #661 closed

[2019-06-18 08:33] jitinkumar2018 opened #675 "In the containers tab of the VIC 1.5.3 RC3 UI plugin, when the next page button is clicked, the tab refreshes into the same page and the next page arrow disappears"
vCenter Server version: 6.5 p03
Embedded or external PSC: No
Filename of the OVAs you deployed: vic-v1.5.3-rc3-7486-30200689.ova
How was the OVA deployed? ovftool
Does the VIC appliance receive configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Application

- 40 VCH s deployed with 60 containers in each VCH resource pool (total: 2400)

When the next page arrow

[2019-08-06 07:45] zhoumeina commented on #675
fixed by pr: https://github.com/vmware/vic-ui/pull/676/files

[2019-08-06 07:47] #675 closed

[2019-10-22 02:48] ading007 opened #679 "Summary details can not display after clicking vsphere integrated container button in the vsphere 7.0"
repro steps:
  1. click icon button as follow:
![image](https://user-images.githubusercontent.com/19757922/67256263-afacad80-f4b8-11e9-83cd-cf031af6efd8.png)

  2. jump to vic ui summary page as follow:

![image](https://user-images.githubusercontent.com/19757922/67256377-411c1f80-f4b9-11e9-92ea-f305c69fcf64.png)
  3. summary page can not display.

[2019-10-30 18:16] Chesky7 commented on #274
Had the same issue, works!

[2020-01-07 03:13] renmaosheng commented on #679
could you please close the bug if this is confirmed to be fixed. thanks.

[2020-01-07 03:14] zhoumeina commented on #679
This issue is fixed by vc team.

[2020-01-07 03:14] #679 closed

[2020-04-26 21:38] goldengit opened #688 "Failed to verify the vic-machine server at endpoint https://vic_appliance_address:8443"
#For bug reports, please include the information below:

**VIC-UI version:**

If applicable:
**vic plugin version - v1.5.5.1570**

[In the VIC plugin] > Summary tab > Version

**Platform details:**
**Linux - Ubuntu 20.04lts**
Which platform are you using? (Windows, Mac OS, Linux, etc)

**Browser details:**
**Tried Chrome and Firefox**
Which browser are you using? (IE, Chrome, Firefox, etc)

**Addi

[2020-11-26 09:41] xuelichao opened #695 "VIC UI plugin is registered but not shown up on the vsphere 7.0u2"
#For stories, please include the information below:

**User Statement:**
VIC UI plugin is not shown up in vSphere client-vc7.0u2.

**Details:**
Any details of what you want that might clarify for the developer how to approach the implementation.

**Acceptance Criteria:**
Specific deliverable and actionable items that the story needs to deliver in order to be considered complete, the more detail he

[2021-04-21 12:50] fryjustinc opened #702 "Plugin cannot find appliance VM"
**VIC-UI version:**
v1.5.7.1603

**Platform details:**
Mac OS

**Browser details:**
Chrome

**Additional details:**

Hi Everyone, I've deployed the vic appliance vm, I'm able to access the management portal and there doesn't seem to be any issues with the VM itself, however the plugin is unable to detect the VM. I've restarted the vsphere-ui service multiple times. I've tried reinstalling both the

[2021-04-21 17:32] fryjustinc commented on #702
Update: So I examined the network traffic when loading the plugin page and noticed it was making this get request:

https://192.168.50.233/ui/vic/rest/services/get-vic-appliances

Unfortunately the service responds with an empty array. I had a look at the code in the current repo master branch for that endpoint and it seems like the endpoint calls getVicApplianceVms() in the propfetcher which grab